<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrapper h-wrapper">
    <div class="h-column-l">
        <!--导航菜单-->
        <div class="category container fl" style="z-index: 0">
            <div class="category-title">书籍分类</div>
            <ol>
                <li>
                    <a class="category-item" href="/book/category/6">儿童<i class="icon-collapse"></i></a>
                </li>
                <li>
                    <a class="category-item" href="/book/category/80">人文<i class="icon-collapse"></i></a>
                    <!-- 	<div class="category-c">
                            <span class="arrow-left"></span>
                            <a href="/book/category/9045">心理百科</a>
                        </div> -->
                </li>
                <li>
                    <a class="category-item" href="/book/category/1">有声小说<i class="icon-collapse"></i></a>

                </li>
                <li>
                    <a class="category-item" href="/book/category/3085">财经<i class="icon-collapse"></i></a>

                </li>
                <li>
                    <a class="category-item" href="/book/category/4">曲艺戏曲<i class="icon-collapse"></i></a>

                </li>
                <li>
                    <a class="category-item" href="/book/category/78">文学<i class="icon-collapse"></i></a>

                </li>
                <li>
                    <a class="category-item" href="/book/category/3">相声评书<i class="icon-collapse"></i></a>

                </li>
                <li>
                    <a class="category-item" href="/book/category/3086">健康<i class="icon-collapse"></i></a>

                </li>
                <li>
                    <a class="category-item" href="/book/category/1019">生活<i class="icon-collapse"></i></a>

                </li>
                <li>
                    <a class="category-item" href="/book/category/79">成功<i class="icon-collapse"></i></a>

                </li>
                <li>
                    <a class="category-item" href="/book/category/9049">历史<i class="icon-collapse"></i></a>
                </li>
                <li>
                    <a class="category-item" href="/book/category/26">精品课<i class="icon-collapse"></i></a>
                </li>
            </ol>
        </div>
        <div class="b-banner">
            <div class="b-silder">
                <ul class="slides">
                    <li class="hide"><a href="/book/73143448"><img src=""
                                                                   alt="" /></a></li>
                    <li class="hide"><a href="/book/38403"><img src=""
                                                                alt="" /></a></li>
                    <li class="hide"><a href="/book/59375658"><img src="" alt="" /></a></li>
                </ul>
            </div>
            <div class="b-recommend container">
                <div class="s-title"><span class="f16">小编推荐/</span><a href="/book/daybook">更多</a></div>
                <ul class="clearfix">
                    <li class="book-item">
                        <div class="book-item-photo pr">
                            <a href="javascript:plays(1)"  ><img alt="故事会精选（中国老牌刊物）-卡尔博学-播音王悦" src="https://bookpic.lrts.me/40aeda2a873c4b5288660b832b35de53.jpeg"><span
                                    class="play-w"><i class="icon-play"></i></span></a>
                        </div>
                        <div class="book-item-r">
                            <a href="/book/68292855" class="book-item-name">test（中国老牌刊物）</a>
                            <div class="book-item-star">

                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>

                            </div>
                            <div class="book-item-info">
                                <span class="weaken">原著：</span><a class="author">卡尔博学</a><span class="split"></span><span class="weaken">主播：</span><a
                                    class="g-user" href="/user/681135000">播音王悦</a><br>
                            </div>
                            <p class="book-item-desc weaken">本书撷取《故事会》的精华内容，或诙谐、或搞笑、或机智、或悬疑、或紧张刺激……精彩、好听，回味无穷！ </p>
                        </div>
                    </li>
                    <li class="book-item">
                        <div class="book-item-photo pr">
                            <a href="javascript:iframechange(1)"  ><img alt="重生西游之万界妖尊（上部）-会魔法的小猪-调频文化" src="https://bookpic.lrts.me/f3c8u97khv7rj1238zggsqs5ccaeqcmg.jpeg"><span
                                    class="play-w"><i class="icon-play"></i></span></a>
                        </div>
                        <div class="book-item-r">
                            <a href="/book/91143441" class="book-item-name">重生西游之万界妖尊（上部）</a>
                            <div class="book-item-star">

                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s disable"></i>

                            </div>
                            <div class="book-item-info">
                                <span class="weaken">原著：</span><a class="author">会魔法的小猪</a><span class="split"></span><span class="weaken">主播：</span><a
                                    class="g-user" href="/user/682683035">调频文化</a><br>
                            </div>
                            <p class="book-item-desc weaken">孙理本来只是个普通的学生，可一次意外之下，他竟然穿越到了西游记中，还与孙悟空成为了双胞胎兄弟。 </p>
                        </div>
                    </li>
                    <li class="book-item">
                        <div class="book-item-photo pr">
                            <a href="/book/31586492"><img alt="逃离金三角（合集·真实故事）-沈星星-魔宙有声" src="https://bookpic.lrts.me/bhq9omm8zw3yqskgeoajnoxeov6tm6wp.jpeg"><span
                                    class="play-w"><i class="icon-play"></i></span></a>
                        </div>
                        <div class="book-item-r">
                            <a href="/book/31586492" class="book-item-name">逃离金三角（合集·真实故事）</a>
                            <div class="book-item-star">

                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>

                            </div>
                            <div class="book-item-info">
                                <span class="weaken">原著：</span><a class="author">沈星星</a><span class="split"></span><span class="weaken">主播：</span><a
                                    class="g-user" href="/user/688025500">魔宙有声</a><br>
                            </div>
                            <p class="book-item-desc weaken">缅甸达邦真实见闻，为毒贩运送生活物资，好友被极端分子杀害，目睹当地大佬将手下割喉......整整397天，天天和毒贩、死... </p>
                        </div>
                    </li>
                    <li class="book-item">
                        <div class="book-item-photo pr">
                            <a href="/book/47293675"><img alt="喜羊羊与灰太狼之原始世界历险记-广东原创动力文化传播有限公司-原创动力" src="https://bookpic.lrts.me/veiwp4dvylhayd7wwj6g7b0w3zz2qpas.jpeg"><span
                                    class="play-w"><i class="icon-play"></i></span></a>
                        </div>
                        <div class="book-item-r">
                            <a href="/book/47293675" class="book-item-name">喜羊羊与灰太狼之原始世界历险记</a>
                            <div class="book-item-star">

                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>

                            </div>
                            <div class="book-item-info">
                                <span class="weaken">原著：</span><a class="author">广东原创动力文化传播有限公司</a><span class="split"></span><span class="weaken">主播：</span><a
                                    class="g-user" href="/user/212248585">原创动力</a><br>
                            </div>
                            <p class="book-item-desc weaken">同名人气动画火热来袭，原始古羊族与狼族高科技激烈碰撞，狼羊历史全新演绎。 </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="h-column-r">
        <div class="b-book-hot container">
            <div class="b-book-hot-t">
                <div class="s-title"><a class="s-more" href="/rank/hot/month">更多</a><span class="f16">热播书籍</span></div>
            </div>
            <div class="ranking-ol p15">
                <ol>
                    <li>
                        <div class="fl"><i class="icon-n-01"></i></div>
                        <div class="ranking-ol-r">
                            <a href="" class="icon-recent-play fr"></a>
                            <a class="f14" href="/book/71931128">test（会员免费）</a>
                            <div><a class="author">叶公子</a><span class="weaken">著</span><a class="g-user" href="/user/150065893">任京浩</a>
                                <span class="weaken">播</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="fl"><i class="icon-n-02"></i></div>
                        <div class="ranking-ol-r">
                            <a href="/book/35968928" class="icon-recent-play fr"></a>
                            <a class="f14" href="/book/35968928">重生嫁了个恶霸老公</a>
                            <div><a class="author">今西西</a><span class="weaken">著</span><a class="g-user" href="/user/614082293">狗命Gouming</a>
                                <span class="weaken">播</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="fl"><i class="icon-n-03"></i></div>
                        <div class="ranking-ol-r">
                            <a href="/book/42446127" class="icon-recent-play fr"></a>
                            <a class="f14" href="/book/42446127">龙武帝尊</a>
                            <div><a class="author">枫吟紫辰</a><span class="weaken">著</span><a class="g-user" href="/user/56522149">麦兜</a>
                                <span class="weaken">播</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="fl"><i class="icon-n-04"></i></div>
                        <div class="ranking-ol-r">
                            <a href="/book/22501445" class="icon-recent-play fr"></a>
                            <a class="f14" href="/book/22501445">甜宠一品小王妃</a>
                            <div><a class="author">幽煌</a><span class="weaken">著</span><a class="g-user" href="/user/67533732">进宝</a> <span
                                    class="weaken">播</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="fl"><i class="icon-n-05"></i></div>
                        <div class="ranking-ol-r">
                            <a href="/book/95740828" class="icon-recent-play fr"></a>
                            <a class="f14" href="/book/95740828">都市极品医神|叶辰夏若雪</a>
                            <div><a class="author">风会笑</a><span class="weaken">著</span><a class="g-user" href="/user/255195697">壮则思飞</a>
                                <span class="weaken">播</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="fl"><i class="icon-n-06"></i></div>
                        <div class="ranking-ol-r">
                            <a href="/book/10877721" class="icon-recent-play fr"></a>
                            <a class="f14" href="/book/10877721">农家有女初养成</a>
                            <div><a class="author">恋锦</a><span class="weaken">著</span><a class="g-user" href="/user/693247516">北堂蓉儿</a>
                                <span class="weaken">播</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="fl"><i class="icon-n-07"></i></div>
                        <div class="ranking-ol-r">
                            <a href="/book/64340525" class="icon-recent-play fr"></a>
                            <a class="f14" href="/book/64340525">狂神魔尊</a>
                            <div><a class="author">七月雪仙人</a><span class="weaken">著</span><a class="g-user" href="/user/79939696">天行</a>
                                <span class="weaken">播</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="fl"><i class="icon-n-08"></i></div>
                        <div class="ranking-ol-r">
                            <a href="/book/37871367" class="icon-recent-play fr"></a>
                            <a class="f14" href="/book/37871367">最强丹师</a>
                            <div><a class="author">新版红双喜</a><span class="weaken">著</span><a class="g-user" href="/user/196677000">世界</a>
                                <span class="weaken">播</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="fl"><i class="icon-n-09"></i></div>
                        <div class="ranking-ol-r">
                            <a href="/book/27079907" class="icon-recent-play fr"></a>
                            <a class="f14" href="/book/27079907">天逆</a>
                            <div><a class="author">陈辉</a><span class="weaken">著</span><a class="g-user" href="/user/148229500">路扬</a>
                                <span class="weaken">播</span></div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="wrapper h-wrapper">
    <div class="h-column-l container">
        <div class="h-new-book b-book-recommend">
            <div class="h-title">
                <div class="h-agency-label">
                    <a href="/book/category/8">都市言情</a><span class="split">|</span>
                    <a href="/book/category/10">穿越同人</a><span class="split">|</span>
                    <a href="/book/category/12">历史军事</a><span class="split">|</span>
                    <a href="/book/category/14">武侠仙侠</a><span class="split">|</span>
                    <a href="/book/category/15">刑侦推理</a><span class="split">|</span>
                    <a href="/book/category/69">社会情感</a><span class="split">|</span>
                    <a href="/book/category/44">官场商战</a>
                </div>
                <i class="icon-h-07"></i><span class="h-title-text">有声小说/</span><a href="/book/category/1" class="h-title-more">更多</a>
            </div>

            <ul class="clearfix">
                <li class="book-item">
                    <div class="book-item-photo pr">
                        <a href="/book/30025"><img alt="至尊丹师-呲牙小骨头-凤舞云飞" src="https://bookpic.lrts.me/869afa8fc7fe4e5ba75433f68fef2445.jpg"><span
                                class="play-w"><i class="icon-play"></i></span><span class="category-b">玄幻奇幻</span></a>
                    </div>
                    <div class="book-item-name"><a href="/book/30025">至尊丹师</a></div>
                    <div class="nowrap">
                        <a class="author">呲牙小骨头</a> <span class="weaken">著</span>
                    </div>
                    <div class="nowrap">
                        <a class="g-user" href="/user/103188528">凤舞云飞 <span class="weaken">主播</span></a>
                    </div>
                </li>
                <li class="book-item">
                    <div class="book-item-photo pr">
                        <a href="/book/5593"><img alt="生肖守护神-唐家三少-秋水雁翎" src="https://bookpic.lrts.me/aa28fb56f96b4de489f09fe4322eaace.jpg"><span
                                class="play-w"><i class="icon-play"></i></span><span class="category-b">玄幻奇幻</span></a>
                    </div>
                    <div class="book-item-name"><a href="/book/5593">生肖守护神</a></div>
                    <div class="nowrap">
                        <a class="author">唐家三少</a> <span class="weaken">著</span>
                    </div>
                    <div class="nowrap">
                        <a class="g-user" href="/user/79939852">秋水雁翎 <span class="weaken">主播</span></a>
                    </div>
                </li>
                <li class="book-item">
                    <div class="book-item-photo pr">
                        <a href="/book/5456"><img alt="宛心泪-晴沁-村尚卿" src="https://bookpic.lrts.me/55633e429ea047dcbcb704113d2c5ec3.jpg"><span
                                class="play-w"><i class="icon-play"></i></span><span class="category-b">古代言情</span></a>
                    </div>
                    <div class="book-item-name"><a href="/book/5456">宛心泪</a></div>
                    <div class="nowrap">
                        <a class="author">晴沁</a> <span class="weaken">著</span>
                    </div>
                    <div class="nowrap">
                        <a class="g-user" href="/user/79940280">村尚卿 <span class="weaken">主播</span></a>
                    </div>
                </li>
                <li class="book-item">
                    <div class="book-item-photo pr">
                        <a href="/book/3072"><img alt="重生之贼行天下-发飙的蜗牛-何其" src="https://bookpic.lrts.me/5262c2bdd33643989a99e5792fcef84b.jpg"><span
                                class="play-w"><i class="icon-play"></i></span><span class="category-b">网游竞技</span></a>
                    </div>
                    <div class="book-item-name"><a href="/book/3072">重生之贼行天下</a></div>
                    <div class="nowrap">
                        <a class="author">发飙的蜗牛</a> <span class="weaken">著</span>
                    </div>
                    <div class="nowrap">
                        <a class="g-user" href="/user/79939574">何其 <span class="weaken">主播</span></a>
                    </div>
                </li>
                <li class="book-item">
                    <div class="book-item-photo pr">
                        <a href="/book/48242432"><img alt="冷酷拽千金不好惹-佩佩的天空-伊小喵" src="https://bookpic.lrts.me/l2znyszln0h82rbr3ymvgcgsrfpt7wds.jpeg"><span
                                class="play-w"><i class="icon-play"></i></span><span class="category-b">现代言情</span></a>
                    </div>
                    <div class="book-item-name"><a href="/book/48242432">冷酷拽千金不好惹</a></div>
                    <div class="nowrap">
                        <a class="author">佩佩的天空</a> <span class="weaken">著</span>
                    </div>
                    <div class="nowrap">
                        <a class="g-user" href="/user/240286511">伊小喵 <span class="weaken">主播</span></a>
                    </div>
                </li>
                <li class="book-item">
                    <div class="book-item-photo pr">
                        <a href="/book/38150144"><img alt="权宠天下（又名：医妃倾天下）-六月-煎饼店长" src="https://bookpic.lrts.me/74xmd95dky8mmvkafeiiqw7jnyd8hq58.jpeg"><span
                                class="play-w"><i class="icon-play"></i></span><span class="category-b">穿越架空</span></a>
                    </div>
                    <div class="book-item-name"><a href="/book/38150144">权宠天下（又名：医妃倾天下）</a></div>
                    <div class="nowrap">
                        <a class="author">六月</a> <span class="weaken">著</span>
                    </div>
                    <div class="nowrap">
                        <a class="g-user" href="/user/677664176">煎饼店长 <span class="weaken">主播</span></a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="h-column-r container">
        <div class="p15 b-anchor">
            <div class="h-title"><span class="h-title-text">小说主播推荐</span></div>
            <ul>
                <li>
                    <div class="fl"><a href="/user/79939500" class="g-user"><img src="https://headpic.lrts.me/1569130160761_zhuyu0?imageMogr/v2/auto-orient/thumbnail/180x180&sign=e3c76222b0e5413b81560331905f3464&t=5f564df4"
                                                                                 class="round photo-s50" alt="" /></a></div>
                    <div class="photo-s50-r">
                        <div class="nowrap f14">
                            <a class="btn-follow fr" data-userid="79939500"><i class="icon-plus"></i>关注</a>
                            <a href="/user/79939500" class="blink g-user">朱宇</a></div>
                        <p class="nowrap">亲爱的们，新书已经发布——都市悬疑大作《国色天香》！欢迎收藏订阅哦！微博：朱宇哦 </p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="fl"><a href="/user/121149001" class="g-user"><img src="https://headpic.lrts.me/1568164038110_19309?imageMogr/v2/auto-orient/thumbnail/180x180&sign=c81aa2615f42007c1034f84cc88fa79a&t=5f564df4"
                                                                                  class="round photo-s50" alt="" /></a></div>
                    <div class="photo-s50-r">
                        <div class="nowrap f14">
                            <a class="btn-follow fr" data-userid="121149001"><i class="icon-plus"></i>关注</a>
                            <a href="/user/121149001" class="blink g-user">丹羽道</a></div>
                        <p class="nowrap">丹羽道最新玄幻作品《神魔天尊》《九鼎记》热播中，欢迎收听。</p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="fl"><a href="/user/79939517" class="g-user"><img src="https://headpic.lrts.me/woyingsuifeng?imageMogr/v2/auto-orient/thumbnail/180x180&sign=7cb405452fe908ae36fe82faa66cdc23&t=5f564df4"
                                                                                 class="round photo-s50" alt="" /></a></div>
                    <div class="photo-s50-r">
                        <div class="nowrap f14">
                            <a class="btn-follow fr" data-userid="79939517"><i class="icon-plus"></i>关注</a>
                            <a href="/user/79939517" class="blink g-user">我影随风</a></div>
                        <p class="nowrap">leexy1223</p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="fl"><a href="/user/79939507" class="g-user"><img src="https://headpic.lrts.me/dahuilang1?imageMogr/v2/auto-orient/thumbnail/180x180&sign=263021ec73bcc422612d8960b3de6e18&t=5f564df4"
                                                                                 class="round photo-s50" alt="" /></a></div>
                    <div class="photo-s50-r">
                        <div class="nowrap f14">
                            <a class="btn-follow fr" data-userid="79939507"><i class="icon-plus"></i>关注</a>
                            <a href="/user/79939507" class="blink g-user">大灰狼</a></div>
                        <p class="nowrap">微信公众号：听狼说。知名主播，擅长演播玄幻悬疑类型小说，代表作品《斗破苍穹》《凡人修仙传》《龙腾宇内》《苗疆蛊事（第一部）》等。</p>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
</body>

<script>
    function plays(id) {
        window.getdata(id);
    }
    function close(){

    }
    //设置修改自己的iframe src路径
    function iframechange(obj){
        console.info("test");
        $('#iframe_a').load("/xianqing");
        //$('#iframe_a').load("xianqing");
    }
</script>
</html>