<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <iframe th:replace="css.html"></iframe>
</head>
<body>

<div class="wrapper h-wrapper">
    <div class="h-column-l">
        <!--导航菜单-->
        <div class="category container fl" style="z-index: 0">
            <div class="category-title">书籍分类</div>
            <ol>
                <li th:each="it:${programtype}">
                    <a class="category-item" th:text="${it.ptname}"><i class="icon-collapse"></i></a>
                </li>
            </ol>
        </div>
        <div class="b-banner">
            <div class="b-silder">
                <ul class="slides">
                    <li class="hide"><a><img
                            src="http://localhost:9999/fileclient/staticfile/1/15890565072/photo/bbb.jpeg"
                            alt=""/></a></li>
                    <li class="hide"><a><img
                            src="http://localhost:9999/fileclient/staticfile/1/15890565072/photo/aaa.jpeg"
                            alt=""/></a></li>
                    <li class="hide"><a><img
                            src="http://localhost:9999/fileclient/staticfile/1/15890565072/photo/ccc.jpeg"
                            alt=""/></a></li>
                    E:\listenfile\1\15890565072\photo
                </ul>
            </div>
            <div class="b-recommend container">
                <div class="s-title"><span class="f16">小编推荐/</span><a>更多</a></div>
                <ul class="clearfix">
                    <li class="book-item" th:each="it:${tuijian}">
                        <div class="book-item-photo pr">
                            <a href="javascript:;" th:onclick="'plays('+${it.pid}+')'"><img
                                    th:src="${it.get('poster')}"><span
                                    class="play-w"><i class="icon-play"></i></span></a>
                        </div>
                        <div class="book-item-r">
                            <a href="javascript:;" th:onclick="|showxq(${it.pid},${it.anchortid})|"
                               class="book-item-name" th:text="${it.pname}"></a>
                            <div class="book-item-star">
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                                <i class="icon-star-s"></i>
                            </div>
                            <div class="book-item-info">
                                <span class="weaken"><span class="split"></span><span class="weaken">主播：</span>
                                    <a class="g-user" th:text="${it?.petname}"></a><br>
                            </div>
                            <p class="book-item-desc weaken" th:text="${it?.pintroduction}"></p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="h-column-r">
        <div class="b-book-hot container">
            <div class="b-book-hot-t">
                <div class="s-title"><a class="s-more">更多</a><span class="f16">热播书籍</span></div>
            </div>
            <div class="ranking-ol p15">
                <ol>
                    <li th:each="it:${remeng}">
                        <div class="fl"><i class="icon-n-01"></i></div>
                        <div class="ranking-ol-r">
                            <a class="f14" href="javascript:;" th:onclick="|showxq(${it.pid},${it.anchortid})|"
                               th:text="${it.pname}"></a>
                            <div><a th:text="${it?.petname}"></a>
                                <span class="weaken">播</span></div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="wrapper h-wrapper">
    <div class="h-column-l container">
        <div class="h-new-book b-book-recommend">
            <div class="h-title">
                <i class="icon-h-07"></i><span class="h-title-text">有声小说/</span><a class="h-title-more">更多</a>
            </div>
            <ul class="clearfix">
                <li class="book-item" th:each="it:${yousheng}">
                    <div class="book-item-photo pr">
                        <a th:onclick="'plays('+${it.pid}+')'"><img th:src="${it.get('poster')}"><span
                                class="play-w"><i class="icon-play"></i></span><span class="category-b">小说</span></a>
                    </div>
                    <div class="book-item-name">
                        <a href="javascript:;" th:onclick="|showxq(${it.pid},${it.anchortid})|"
                           th:text="${it.pname}"></a>
                    </div>
                    <div class="nowrap">
                        <a class="g-user" th:text="${it.petname}">凤舞云飞 <span class="weaken">主播</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="h-column-r container">
        <div class="p15 b-anchor">
            <div class="h-title"><span class="h-title-text">小说主播推荐</span></div>
            <ul>
                <li th:each="it:${anchors}">
                    <div class="fl"><a class="g-user"><img th:src="${it.get('backstage_photo')}"
                                                           class="round photo-s50" alt=""/></a></div>
                    <div class="photo-s50-r">
                        <div class="nowrap f14">
                            <a class="btn-follow fr" data-userid="79939500"><i class="icon-plus"></i>关注</a>
                            <a class="blink g-user" th:text="${it.get('petname')}"></a></div>
                        <p class="nowrap" th:text="${it.get('backstage_js')}"></p>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>

</body>

<script>
    $(function () {
        $('.b-silder').flexslider({
            animation: "slide",
            directionNav: false,
            slideshowSpeed: 4000,
            slideshow: true,
            pauseOnHover: true,
            startAt: 0
        });
    });

    function plays(id) {
        window.parent.getdata(id);
    }

    function showxq(id, aid) {
        window.parent.eidtsrc(id, aid);
    }
</script>
</html>