<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{'xtip/css/xtiper.css'}">
  <!--  <link rel="stylesheet" th:href="${'xtip/css/layout.css'}">-->
    <!--<link rel="stylesheet" th:href="${'xtip/css/style.css'}">
    <link rel="stylesheet" th:href="${'xtip/css/xui.css'}">-->
</head>
<body>

<div data-v-b39d6196="">
    <div data-v-32f781fc="" class="type">
        <div data-v-32f781fc="" class="left">
            <div data-v-32f781fc="" class="item active">
                <p data-v-32f781fc="" class="title"><span th:onclick="hidden1()">上传节目声音</span></p>
            </div>
            <div data-v-32f781fc="" class="item">
                <p data-v-32f781fc="" class="title"><span th:onclick="hidden2()">创建节目专辑</span></p>
            </div>
        </div>
    </div>
    <!--创建节目-->
    <div data-v-b39d6196="" >
        <div data-v-46b96043="" data-v-76b5fe84="" class="createAlbum" id="program">
            <div data-v-46b96043="" class="form">
                <form  id="fm" action="javascript:sbt()" type="multipart/form-data"  class="ivu-form ivu-form-label-left" style="width: 500px" >
                  <div data-v-46b96043="" >
                    <div data-v-46b96043="" class="img">
                        <img data-v-46b96043="" id="im" src="" alt="" width="120" height="120">
                        <p data-v-46b96043="" class="text">
                            上传封面
                        </p>
                        <input type="file"  name="photo" id="f">
                    </div>
                    <div data-v-46b96043="" class="refer">
                        <p data-v-46b96043="">参考尺寸：600×600</p>
                        <p data-v-46b96043="">参考大小：3M以内</p>
                    </div>
                </div>

                    <div data-v-46b96043="" class="ivu-form-item ivu-form-item-required"><label class="ivu-form-item-label">节目名称</label>
                        <div class="ivu-form-item-content" style="">
                            <div data-v-46b96043="" class="input ivu-input-wrapper ivu-input-wrapper-lr40 ivu-input-type-text">
                                <i class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
                                <!--图片节目-->
                                <input autocomplete="off" name="pname" spellcheck="false" type="text" placeholder="请输入" maxlength="20" class="ivu-input ivu-input-lr40">
                            </div>
                        </div>
                    </div>
                    <div data-v-46b96043="" class="ivu-form-item ivu-form-item-required"><label class="ivu-form-item-label" >节目介绍</label>
                        <div class="ivu-form-item-content" style="">
                            <div data-v-46b96043="" class="textarea ivu-input-wrapper ivu-input-wrapper-large ivu-input-type-textarea">
                                <!--节目介绍-->
                                <textarea name="pintroduction"
                                    autocomplete="off" spellcheck="false" placeholder="请输入" rows="2" maxlength="500" class="ivu-input" wrap="soft" required ></textarea>
                                <span class="ivu-input-word-count">0/500</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-46b96043="" class="ivu-form-item ivu-form-item-required"><label class="ivu-form-item-label" >节目分类</label>
                        <div class="ivu-form-item-content" style="">
                            <div data-v-46b96043="" class="ivu-select ivu-select-single ivu-select-large" style="width: 170px; margin-right: 20px;">
                                <div tabindex="0" class="ivu-select-selection"><input type="hidden">
                                    <!--节目分类-->
                                    <select style="width: 100%;height: 100%;" name="ptid">
                                        <option value="">请选择</option>
                                        <option th:each="it:${programtype}" th:value="${it.ptid}" th:text="${it.ptname}"></option>
                                    </select>
                                </div>
                            </div>
                            <!---->
                            <!---->
                        </div>
                    </div>
                    <div data-v-46b96043="" class="ivu-form-item ivu-form-item-required">
                        <label class="ivu-form-item-label" >内容来源</label>
                        <div class="ivu-form-item-content" >
                            <div data-v-46b96043="" class="ivu-select ivu-select-single ivu-select-large" style="width: 170px; margin-right: 20px;">
                                <div tabindex="0" class="ivu-select-selection"><input type="hidden">
                                    <!--节目来源-->
                                    <select style="width: 100%;height: 100%;" name="psource">
                                        <option>请选择</option>
                                        <option>原创</option>
                                        <option>采集</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div data-v-46b96043="" class="ivu-form-item"><label class="ivu-form-item-label" >声音主播</label>
                        <div class="ivu-form-item-content" style="">
                            <div data-v-46b96043="" class="input ivu-input-wrapper ivu-input-wrapper-lr40 ivu-input-type-text">
                                 <i class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
                                <!--session获取当前用户的主播信息-->
                                <input type="hidden" name="front_userphone" th:value="${session?.user?.get('front_userphone')}"/>
                                <input type="hidden" name="flag" th:value="${session?.user?.get('flag')}">
                                <input type="hidden" name="anchortid" th:value="${session?.user?.get('acid')}"/>
                                <input th:value="${session.user.get('petname')}" readonly type="text" placeholder="请输入" class="ivu-input ivu-input-lr40" />
                            </div>
                        </div>
                    </div>
                    <div  class="ivu-form-item">
                        <input type="submit"  class="ivu-btn ivu-btn-default lr_btn_solid" value="提交"/>
                    </div>
                </form>
            </div>
        </div>










        <!--上传音频-->
        <div data-v-cb2fe0aa="" class="album" id="yingping" >
            <form id="yfm" action="javascript:sbt2()" type="multipart/form-data">
            <div data-v-cb2fe0aa="" class="title stpe1"><span data-v-cb2fe0aa="">选择节目专辑</span></div>
            <div data-v-cb2fe0aa="" class="select">
                <div data-v-cb2fe0aa="" class="ivu-select ivu-select-single ivu-select-large" style="width: 368px;">
                    <div tabindex="0" class="ivu-select-selection"><input type="hidden">
                            <select  style="width: 100%; height:100%;" name="pid">
                                <option value="">请选择节目</option>
                                <option th:each="it:${program}"th:value="${it.pid}" th:text="${it.pname}"></option>
                            </select>
                    </div>
                </div>
            </div>
            <div data-v-cb2fe0aa="" class="title stpe1"><span data-v-cb2fe0aa="">收费设置</span></div>
            <div data-v-cb2fe0aa="" class="select">
                <div data-v-cb2fe0aa="" class="ivu-select ivu-select-single ivu-select-large" style="width: 368px;">
                    <div tabindex="0" class="ivu-select-selection">
                        <select style="width: 100%;height: 100%;" name="state" th:onchange="setm(this)">
                            <option value="0">免费</option>
                            <option value="1">收费</option>
                        </select>
                    </div>
                </div>
            </div>
                <div id="setmoney">
                <div data-v-cb2fe0aa="" class="title stpe1"><span data-v-cb2fe0aa="">虚拟币设置</span></div>
                <div data-v-cb2fe0aa="" class="select">
                    <div data-v-cb2fe0aa="" class="ivu-select ivu-select-single ivu-select-large" style="width: 368px;">
                        <div tabindex="0" class="ivu-select-selection">

                            <select style="width: 100%;height: 100%;" name="virtualcurrency">
                                <option value="0">0</option>
                                <option value="10">10</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                                <option value="70">70</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                </div>
                </div>
                <div data-v-cb2fe0aa="" class="title stpe1"><span data-v-cb2fe0aa="">章节名称</span></div>
                <div data-v-cb2fe0aa="" class="select">
                    <div data-v-cb2fe0aa="" class="ivu-select ivu-select-single ivu-select-large" style="width: 368px;">
                        <div tabindex="0" class="ivu-select-selection">
                            <!--主播名称-->
                            <input type="hidden" th:value="${session.user.get('petname')}" name="artist"/>
                            <input type="hidden" name="front_userphone" th:value="${session?.user?.get('front_userphone')}"/>
                            <input type="hidden" name="flag" th:value="${session?.user?.get('flag')}">
                            <input type="text" style="width: 100%;height: 100%;" name="title"  required />
                        </div>
                    </div>
                </div>
                <div data-v-cb2fe0aa="" class="title stpe1"><span data-v-cb2fe0aa="">选择音频</span></div>
                <div data-v-cb2fe0aa="" class="select">
                    <div data-v-cb2fe0aa="" class="ivu-select ivu-select-single ivu-select-large" style="width: 368px;">
                        <div tabindex="0" class="ivu-select-selection">
                            <input type="file" style="width: 100%;height: 100%;" name="yingping">
                        </div>
                    </div>
                </div>
                <br/>
                <div data-v-cb2fe0aa="" class="select">
                    <div data-v-cb2fe0aa="" class="ivu-select ivu-select-single ivu-select-large" style="width: 368px;">
                        <div tabindex="0" class="ivu-select-selection">
                            <input type="submit" class="ivu-btn ivu-btn-default lr_btn_solid" value="提交"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script th:src="@{'/js/jquery.min.js?v=36'}"></script>
<script th:src="@{'/xtip/js/xtiper.min.js'}"></script>

<script>
    //提交
    function sbt() {
        let formdata=new FormData($("#fm")[0]);
        $.ajax({
            type:"post",
            url:"programinfo/add",
            data:formdata,
            processData: false, // 告诉jQuery不要去处理发送的数据
            contentType: false, // 告诉jQuery不要去设置Content-Type请求头
            success:(data)=>{
                if(data==1){
                    //刷新页面重新获取数据
                    xtip.msg('节目录入成功',{icon:'s',type:'w',pos:'t'});
                    location.reload();
                }
            }
        });
    }
    function sbt2() {
        let formdata=new FormData($("#yfm")[0]);
        $.ajax({
            type:"post",
            url:"chapter/add",
            data:formdata,
            processData: false, // 告诉jQuery不要去处理发送的数据
            contentType: false, // 告诉jQuery不要去设置Content-Type请求头
            success:(data)=>{
                if(data==1){
                    xtip.msg('章节添加成功请在详情页面查看',{icon:'s',type:'w',pos:'t'});
                    //清空元素
                    $("#yfm")[0].reset();
                }
            }
        });
    }
    //图片切换
    var regexImageFiler;
    regexImageFiler = /^(?:image\/bmp|image\/png|image\/jpeg|image\/jpg|image\/gif)$/i;
    var imgReaderl = new FileReader();
    imgReaderl.onload = function(evt) {
        $("#im").attr("src", evt.target.result);
    };
    $("#f").change(function() {
        var imgfFile = $("#f").prop("files")[0];
        if(!regexImageFiler.test(imgfFile.type)) {
            xtip.msg('选择有效的图片',{type:'w',pos:'t'});
        }
        imgReaderl.readAsDataURL(imgfFile);
    });

    function hidden2(){
        $("#program").show();
        $("#yingping").hide();

    }
    function hidden1() {
        $("#yingping").show();
        $("#program").hide();
    }
    function setm(obj){
       if($(obj).val()==1){
           $("#setmoney").show();
       }else{
           $("#setmoney").hide();
           $("#setmoney select").val(0);
       }
    }
    $(function () {
        $("#program").hide();
        $("#setmoney").hide();
    })

</script>
</html>