<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" th:href="@{'css/base.css?v=36'}" media="all">
<link rel="stylesheet" th:href="@{'css/layout.css?v=36'}" media="all">
<link rel="stylesheet" th:href="@{'css/style.css?v=36'}" media="all">
<script th:src="@{'/js/jquery.min.js?v=36'}"></script>
<script th:src="@{'/js/jquery.flexslider-min.js?v=36'}"></script>
<script th:src="@{'/js/jquery.dialog.js?v=36'}"></script>
<script th:src="@{'/js/common.js?v=36'}"></script>

</body>
</html>