<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <meta charset="utf-8">

    <iframe th:replace="css.html"></iframe>
    <link rel="stylesheet" th:href="@{'css/login.css?v=36'}">
    <link rel="stylesheet" th:href="@{'css/loginstyle.css?v=36'}">
</head>
<body>
<!--登录-->
<div class="wrapper login-page container" id="login">
    <div class="p-title">登陆懒人听书</div>
    <div class="login-sub">
        <p>>注册懒人听书账号！<a href="#" id="registerbtn" class="link">立即注册</a></p>
        <div class="login-auth">
            >或使用合作网站登录<br/>
            <!--第三方登录-->
            <a href="/qqLogin.dosl" class="login-auth-qq"></a>
        </div>
    </div>

    <div class="login-w">
        <div id="errMsg" class="field-error"></div>
        <ul class="fieldset">
            <li>
                <label class="field-name">账号：</label>
                <div class="field-r">
                    <input id="frontuserPhone" type="text" placeholder="手机号" onblur="checkname()"
                           onfocus="this.className='txt'"/>
                    <p id="checkfrontuserPhone"></p>
                </div>
            </li>
            <li>
                <label class="field-name">密码：</label>
                <div class="field-r">
                    <input id="password" name="password" type="password" placeholder="密码" onblur="checkloginPwd()"
                           onfocus="this.className='txt'"/>
                    <p id="checkpassword"></p>
                </div>
            </li>
            <li>
                <div class="field-r f14">
                    <input type="checkbox" id="autoLogin" checked="checked" value="1">
                    <label for="autologin">记住密码</label>
                </div>
            </li>
            <li>
                <div class="field-r">
                    <button type="button" class="ant-btn-primary" onclick="login()">登录</button>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="wrapper login-page container" id="reg">
    <div class="p-title">注册懒人听书</div>
    <div class="login-sub">
        <p>>登陆懒人听书账号！<a id="logbtn" class="link">立即登陆</a></p>
        <div class="login-auth">
            >或使用合作网站登录<br/>
            <!--第三方登录-->
            <a href="/qqLogin.dosl" class="login-auth-qq"></a>
        </div>
    </div>
    <div class="login-w">
        <ul class="fieldset">
            <li>
                <label class="field-name">账号：</label>
                <div class="field-r">
                    <input id="phone" name="phone" type="text" onblur="checkZH()" onfocus="this.className='txt'"
                           placeholder="手机号"/>
                    <p id="checkphone"></p>
                </div>
            </li>
            <li>
                <label class="field-name">密码：</label>
                <div class="field-r">
                    <input id="pwd" name="resultpwd" type="password" onblur="checkresultpwd()" onfocus="this.className='txt'"
                           placeholder="密码"/>
                    <input type="hidden" name="code" id="code">
                    <p id="checkpwd"></p>
                </div>
            </li>
            <li>
                <label class="field-name">验证码：</label>
                <div class="field-r">
                    <input type="text" name="codeResult" id="codeResult" onblur="checkcr()"
                           onfocus="this.className='txt'"
                           placeholder="验证码"/>
                    <span>
                        <input type="button" value="获取验证码" class="ant-btn-primary" id="codedis" onclick="coarse(this)">
                   <!--     <button type="button" class="ant-btn-primary" id="codedis" onclick="coarse(this)">获取验证码</button>
                   --> </span>
                    <p id="checkcodeResult"></p>
                </div>
            </li>
            <li>
                <div class="field-r">
                    <button type="button" class="ant-btn-primary" onclick="subm()">注册</button>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>
<script th:src="@{'/js/jquery.min.js?v=36'}"></script>
<script type="text/javascript" th:inline="javascript">

    function checkZH() {
        var phone = $("#phone").val();
        $.ajax({
            type: "post",
            url: "frontuser/queryByphone",
            data: {"front_userphone": phone},
            success:function (data) {
                if (data==1){
                    $("#checkphone").html("手机号已存在！");
                    $("#codedis").prop("disabled","disabled");
                    return false;
                }
            }
        })
        if (phone == "") {
            $("#checkphone").html("请输入手机号！");
            return false;
        }
        if (!(/^1[3456789]\d{9}$/.test(phone))) {
            $("#checkphone").html("手机号格式有误");
            return false;
        }
        $("#checkphone").html("");
        $("#codedis").prop("disabled","");
        return true;
    }



    function checkcr() {
        var codeResult = $("#codeResult").val();
        if (codeResult == "") {
            $("#checkcodeResult").html("请输入验证码")
            return false;
        }
        $("#checkcodeResult").html("");
        return true;
    }



    var countdown=80;
    function ddd(val) {
        if(countdown==0){
            //val.removeAttribute("disabled");
            $("#codedis").prop("disabled","disabled");
            val.value="获取验证码";
            countdown = 80;
            return false;
        }else{
            $("#codedis").prop("disabled","");
            val.value="重新发送(" + countdown + ")";
            countdown--;
        }
        setTimeout(function() {   //设置一个定时器，每秒刷新一次
            ddd(val);
        },1000);

    }
    //获取验证码
    function coarse(val) {
        if (checkZH()) {
            var phone = $("#phone").val();
            $.ajax({
                type: "post",
                url: "http://localhost:8082/front/userlogin/phoneCheck",
                data: {
                    "phone": phone
                },
                success: function (data) {
                    $("#code").val(data.codeResult);
                    ddd(val);
                }
            })
        }
    }

    function checkresultpwd() {
        var pwd = $("#pwd").val();
        if (pwd == "") {
            $("#checkpwd").html("请输入密码！");
            return false;
        }
        $("#checkpwd").html("");
        return true;
    }

    function subm() {
        var code = $("#code").val();
        if (checkZH() &&  checkresultpwd() && checkcr()) {
            var coderesult = $("#codeResult").val();
            if (code == coderesult) {
                var front_userphone = $("#phone").val();
                var front_userpwd = $("#pwd").val();
                $.ajax({
                    type: "post",
                    url: "http://localhost:8082/front/userlogin/addFrontuser",
                    data: {
                        "front_userphone": front_userphone,
                        "front_userpwd": front_userpwd
                    },
                    success: function (data) {
                        console.log("注册成功，跳转登陆页面");
                        $("#reg").hide();
                        $("#login").show();
                    }
                })
            } else {
                $("#checkcodeResult").html("验证码有误")
            }
        }
    }

    function checkname() {
        var phone = $("#frontuserPhone").val();
        if (phone == "") {
            $("#checkfrontuserPhone").html("请输入手机号！");
            return false;
        }
        $("#checkfrontuserPhone").html("");
        return true;
    }

    function checkloginPwd() {
        var pwd = $("#password").val();
        if (pwd == "") {
            $("#checkpassword").html("请输入密码");
            return false;
        }
        $("#checkpassword").html("");
        return true;
    }
    function login() {
        if (checkname() && checkloginPwd()) {
            var phone = $("#frontuserPhone").val();
            var pwd = $("#password").val();
            $.ajax({
                type: "post",
                url: "http://localhost:8082/front/userlogin/login",
                data: {
                    "phone": phone,
                    "pwd": pwd
                },
                success: function (data) {
                    if (data != '') {
                        if ($("#autoLogin").prop("checked")) {
                            localStorage.setItem("phone", phone);
                            localStorage.setItem("pwd", pwd);
                        } else {
                            localStorage.removeItem("phone");
                            localStorage.removeItem("pwd");
                        }
                        $("#errMsg").html("");
                        window.parent.location.reload();
                    } else {
                        $("#errMsg").html("用户和密码错误");
                    }
                }
            });
        }

    }

    //页面加载事件
    $(function () {
        //设置

        var flag = [[${flag}]];
        if (flag == 0) {
            $("#reg").hide();
            $("#login").show();
        } else {
            $("#login").hide();
            $("#reg").show();
        }
        $("#frontuserPhone").val(localStorage.getItem("phone"));
        $("#password").val(localStorage.getItem("pwd"));

        //registerbtn
        $("#logbtn").click(function () {
            $("#reg").hide();
            $("#login").show();
        });
        $("#registerbtn").click(function () {
            $("#login").hide();
            $("#reg").show();
        })

    })
</script>
<style type="text/css">
    ul p {
        color: red;
        font-size: 12px;
    }

    .ant-btn-primary {
        color: #fff;
        background-color: #1890ff;
        border-color: #1890ff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
        -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
        height: 35px;
        width: 90px;
    }
</style>
</html>
