<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>听书网</title>
		<meta charset="utf-8">
		<!--<link rel="stylesheet" th:href="@{'css/styles.css?v=36'}" media="all">-->
		<!--<link rel="stylesheet" href="/css/base.css?v=36" />
        <link rel="stylesheet" href="/css/layout.css?v=36" />
        <link rel="stylesheet" href="/css/style.css?v=36" />-->

		<iframe th:replace="css.html"></iframe>
		<iframe th:replace="listencss.html"></iframe>
	</head>
	<body>
	<!--

	-->
	<header>
		<!--顶部-->
		<div class="g-top">
			<div class="wrapper clearfix">
				<div class="g-top-r" id="top">

					<div class="g-top-ulogin hide" id="toplog" style="display: block" th:if="${#strings.isEmpty(session?.user)}"><a href="javascript:;" th:onclick="login(0)">登录</a><span class="split">|</span><a href="javascript:;" th:onclick="login(1)">注册</a></div>
					<div class="g-top-umenu " id="topmune"   th:if="${not #strings.isEmpty(session?.user)}">

						<ul>
							<li>
								<a href="" class="g-user-i" id="myhomecover">
                                    <!--th:src="${session?.user?.front_userpic}"-->
									<img src="http://localhost:9999/fileclient/staticfile/default_user_head.png"  />
								</a>
								<div class="g-top-menu-l">
									<a id="myhome" href="javascript:;" th:onclick="personal('userdetails')">我的个人主页</a>
									<a id="mycollection" href="/my/collect/book">我的收藏</a>
									<a href="/uservip/vip">成为VIP会员</a>
									<a href="/userinfo/pay">账户充值</a>
									<a href="/pay/paid">支付查询</a>
									<a href="/my/message/inbox">查看私信</a>
									<a href="/my/message/system">查看系统通知</a>
									<a id="mysetting" href="/setting"><i class="icon-config"></i><span class="f12">账号设置</span></a>
									<a class="g-top-logout" href="javascript:;" th:onclick="logout()"><i class="icon-logout"></i><span class="f12">退出登录</span></a>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--导航菜单-->
		<div class="g-main clearfix wrapper">
			<div class="g-main-l">
				<a href="">
					<img src="http://localhost:9999/fileclient/staticfile/logo.png" alt="懒人听书" />
				</a>
			</div>
			<!--搜索栏-->
			<div class="g-main-m">
				<div class="g-search">
					<div class="g-search-b clearfix">
						<input type="text" placeholder="搜索书籍、节目、主播" maxlength="20" value="" /><a class="g-search-icon"><i class="icon-search"></i></a>
					</div>
					<div class="g-search-l g-auto-hide">
						<ul>
							<li class="active"><i class="icon-s-book"></i>搜索"<span></span>"相关的书籍</li>
							<li><i class="icon-s-album"></i>搜索"<span></span>"相关的节目</li>
							<li><i class="icon-s-user"></i>搜索"<span></span>"相关的主播</li>
						</ul>
					</div>
				</div>

				<div class="fl">
					<a href="/rank" class="g-ranking-icon">榜单</a>
					<span class="split">|</span>
					<a href="/book/category" class="g-category-icon">分类</a>
				</div>

			</div>
			<div class="g-main-r">
				<ul>
					<li class="g-main-r-i" th:if="${not #strings.isEmpty(session?.user)}">
						<a href="javascript:;" th:onclick="personal('userrenzheng')" class="head-tooltip"><i class="icon-upload"></i>创作中心(主播认证)
							<span class="tooltip-text">已升级为听书号啦，请在听书号上传和管理节目</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="g-nav" style="height: 5px;">
		</div>
		<div class="g-nav-c">
			<ol class="wrapper g-nav-c-active">
				<li class="active" ><a href="javascript:;" th:onclick="srcmain()">书籍推荐</a><span class="arrow-top"></span></li>
				<li ><a href="/book/category">分类书籍</a><span class="arrow-top"></span></li>
				<li ><a href="/org/2725">懒人出品</a><span class="arrow-top"></span></li>
				<li ><a href="/topic">书籍专题</a><span class="arrow-top"></span></li>
				<li ><a href="/rank">收听榜单</a><span class="arrow-top"></span></li>
			</ol>
			<div class="clear"></div>
		</div>
	</header>
	<iframe th:src="context" name="iframe_a" id="iframe_a"  width="100%" height="0px" frameborder="0" ></iframe>
	<!--播放器-->
	<footer class="footer bg-success dker" style="position: fixed;bottom:0">
		<iframe th:replace="play.html" frameborder="0" name="play" id="play"></iframe>
	</footer>
	</body>
	<script type="text/javascript">
		//根据ID获取iframe对象
		var ifr = $("#iframe_a")[0];
		ifr.onload = function() {
			//解决滚动条不收缩
			ifr.style.height = 0+'px';
			var iDoc = ifr.contentDocument || ifr.contentWindow.document;
			var height = iDoc.documentElement.clientHeight || iDoc.body.clientHeight;
			ifr.style.height = (height+95)+ 'px';
		};
		$(function () {
			$("#topmune").removeAttr("style");
			//页面
			$("#iframe_a").attr("src","/front/context");
			//
			if(localStorage.getItem("playlist")){
				console.info();
				//删除
				let list=JSON.parse(localStorage.getItem("playlist"));
				for(let i=0;i<list.length;i++){
					window.myplay.add({
						title: list[i].title,
						artist: list[i].artist,
						mp3: list[i].mp3,
						poster: list[i].poster
					})
				}
				localStorage.removeItem("playlist");
			}

		});
		//主页路径
		function srcmain() {
			$("#iframe_a").attr("src","/front/context");
		}
		//详情路径
		function eidtsrc(id,aid){
			$("#iframe_a").attr("src","/front/xianqing?pid="+id+"&anchortid="+aid);
		}
		//登录注册
		function login(flag) {
			$("#iframe_a").attr("src","/front/login?flag="+flag);
		}
		//用户详情
		function personal(name) {
			$("#iframe_a").attr("src","/front/gerenxianqing?name="+name);
		}

		//主播认证





		//退出登录
		function logout() {
			$.ajax({
				type: "post",
				url: "http://localhost:8082/front/userlogin/logout",
				success:(data)=>{
					window.location.reload();
				}
			})
		}
	</script>
</html>
