<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>听书网</title>
	<meta charset="utf-8">
	<!--<link rel="stylesheet" th:href="@{'css/styles.css?v=36'}" media="all">-->
	<!--<link rel="stylesheet" href="/css/base.css?v=36" />
    <link rel="stylesheet" href="/css/layout.css?v=36" />
    <link rel="stylesheet" href="/css/style.css?v=36" />-->

	<iframe th:replace="css.html"></iframe>
	<iframe th:replace="listencss.html"></iframe>
    <style>
        div.xtiper_tit p{
            background-color: aliceblue;
        }
        div.xtiper_tit{
            background-color:aliceblue ;
        }
        div.xtiper_content.xtit{
            text-align: -webkit-center;
            line-height: unset;
            background-color: white;
            font-size: large;
            width: 290px;
            line-height: 2.5;
            float: right;
        }
        input{
            color:blueviolet;
        }
		body{
			color: currentColor;
		}
		table{
			font-size: x-large;
		}
    </style>
</head>
<body onbeforeunload="changeload()">
<!--

-->
<header>
	<!--顶部-->
	<div class="g-top">
		<div class="wrapper clearfix">
			<div class="g-top-r" id="top">

				<div class="g-top-ulogin hide" id="toplog" style="display: block"
					 th:if="${#strings.isEmpty(session?.user)}"><a href="javascript:;" th:onclick="login(0)">登录</a><span
						class="split">|</span><a href="javascript:;" th:onclick="login(1)">注册</a></div>
				<div class="g-top-umenu " id="topmune" th:if="${not #strings.isEmpty(session?.user)}">

					<ul>
						<li>
							<a class="g-user-i" id="myhomecover">
								<!--th:src="${session?.user?.front_userpic}"-->
								<img src="http://localhost:9999/fileclient/staticfile/default_user_head.png"/>
							</a>
							<div class="g-top-menu-l">
								<a id="myhome" href="javascript:;" th:onclick="personal('userdetails')">我的个人主页</a>
								<a id="mycollection" href="javascript:;">我的收藏</a>
								<a href="javascript:;" th:onclick="vipchongzhi()">成为VIP会员</a>
								<a href="javascript:;" th:onclick="chongzhi()">账户充值</a>
								<a href="javascript:;" th:onclick="record()">支付查询</a>
								<a href="javascript:;">查看私信</a>
								<a href="javascript:;">查看系统通知</a>
								<a id="mysetting" href="javascript:;"><i class="icon-config"></i><span
										class="f12">账号设置</span></a>
								<a class="g-top-logout" href="javascript:;" th:onclick="logout()"><i
										class="icon-logout"></i><span class="f12">退出登录</span></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--导航菜单-->
	<div class="g-main clearfix wrapper">
		<div class="g-main-l">
			<a href="javascript:;" th:onclick="srcmain()">
				<img src="http://localhost:9999/fileclient/staticfile/logo.png" alt="懒人听书"/>
			</a>
		</div>
		<!--搜索栏-->
		<div class="g-main-m">
			<div class="g-search">
				<div class="g-search-b clearfix">
					<input type="text" placeholder="搜索书籍、节目、主播" maxlength="20" value=""/><a class="g-search-icon"><i
						class="icon-search"></i></a>
				</div>
				<div class="g-search-l g-auto-hide">
					<ul>
						<li class="active"><i class="icon-s-book"></i>搜索"<span></span>"相关的书籍</li>
						<li><i class="icon-s-album"></i>搜索"<span></span>"相关的节目</li>
						<li><i class="icon-s-user"></i>搜索"<span></span>"相关的主播</li>
					</ul>
				</div>
			</div>

			<div class="fl">
				<a class="g-ranking-icon">榜单</a>
				<span class="split">|</span>
				<a class="g-category-icon">分类</a>
			</div>
		</div>
		<div class="g-main-r">
			<ul>
				<li class="g-main-r-i" th:if="${not #strings.isEmpty(session?.user)}">
					<a href="javascript:;" th:onclick="personal('userrenzheng')" class="head-tooltip"><i
							class="icon-upload"></i>创作中心(主播认证)
						<span class="tooltip-text">已升级为听书号啦，请在听书号上传和管理节目</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="g-nav" style="height: 5px;">
	</div>
	<div class="g-nav-c">
		<ol class="wrapper g-nav-c-active">
			<li class="active"><a href="javascript:;" th:onclick="srcmain()">书籍推荐</a><span class="arrow-top"></span>
			</li>
			<li><a href="javascript:;" th:onclick="eidtprogram(1,null)">分类书籍</a><span class="arrow-top"></span></li>
			<li><a href="javascript:;">懒人出品</a><span class="arrow-top"></span></li>
			<li><a href="javascript:;">书籍专题</a><span class="arrow-top"></span></li>
			<li><a href="javascript:;">收听榜单</a><span class="arrow-top"></span></li>
		</ol>
		<div class="clear"></div>
	</div>
</header>
<!--主要-->
<iframe th:src="context" name="iframe_a" id="iframe_a" width="100%" height="0px" frameborder="0"></iframe>
<!--播放器-->
<footer class="footer bg-success dker" style="position: fixed;bottom:0">
	<iframe th:replace="play.html" frameborder="0" name="play" id="play"></iframe>
</footer>
<div id="tip_content2">
	<!--<div >
		 <table >
		 	<tr>
				 <td>
					 <div>用户余额:<span id="xunibimoney"></span></div>
				 </td>
			 </tr>
			 <tr>
				 <td>
					 <div>节目信息:<span id="pname"></span></div>
				 </td>
			 </tr>
			 <tr>
				 <td>
					 <div>所选章节:<span id="cname"></span></div>
				 </td>
			 </tr>
			 <tr>
			 	<td>
			 		<div>所需懒人币:<span id="xunibi"></span></div>
			 	</td>
			 </tr>
			 <tr>
				 <td>
					 <form   id="zhifufm">
					 	<input type="hidden" name="usermoney" id="usermoney"/>
					 	<input type="hidden" name="zhifumoney" id="zhifumoney" />
						 <input type="hidden" name="userid" id="userid"/>
						 <input type="hidden" name="pid" id="pid"/>
						 <input type="hidden" name="ctid"  id="ctid"/>

						 <button type="button" onclick="zhifu()" class="btn btn-primary">购买</button>
					 </form>
				 </td>
			 </tr>
		 </table>
    </div>-->
</div>
</body>
<script th:src="@{'/xtip/js/xtiper.min.js'}"></script>
<script type="text/javascript" th:inline="javascript">

	document.body.onbeforeunload = function (event) {
		if (window.parent.myplay.playlist.length != 0) {
			localStorage.setItem("playlist", JSON.stringify(window.parent.myplay.playlist));
		}
	};
	//根据ID获取iframe对象
	var ifr = $("#iframe_a")[0];
	ifr.onload = function () {
		//解决滚动条不收缩
		ifr.style.height = 0 + 'px';
		var iDoc = ifr.contentDocument || ifr.contentWindow.document;
		var height = iDoc.documentElement.clientHeight || iDoc.body.clientHeight;
		ifr.style.height = (height + 100) + 'px';
	};
	$(function () {
		//页面
		$("#iframe_a").attr("src", "/front/context");
		$("#topmune").removeAttr("style");
		if (localStorage.getItem("playlist")) {
			//删除
			let list = JSON.parse(localStorage.getItem("playlist"));
			for (let i = 0; i < list.length; i++) {
				window.myplay.add({
					title: list[i].title,
					artist: list[i].artist,
					mp3: list[i].mp3,
					poster: list[i].poster,
					state:list[i].state,
					virtualcurrency:list[i].virtualcurrency,
					pid:list[i].pid,
					ctid:list[i].ctid
				})
			};
			$(".poster-img").attr("src", list[0].poster);
			localStorage.removeItem("playlist");
		}
	});
	//充值记录页面
	function record(){
		$("#iframe_a").attr("src", "/front/recordinfo");
	}
	//充值虚拟币路径
	function chongzhi() {
		$("#iframe_a").attr("src", "/front/recharges");
	}

	//充值vip路径
	function vipchongzhi() {
		$("#iframe_a").attr("src", "/front/viprecharge");
	}

    //充值虚拟币路径
    function chongzhi() {
        $("#iframe_a").attr("src", "/front/xunibirecharge");
    }

    //充值vip路径
    function vipchongzhi() {
        $("#iframe_a").attr("src", "/front/viprecharge");
    }

	//主页路径
	function srcmain() {
		$("#iframe_a").attr("src", "/front/context");
	}

	//详情路径
	function eidtsrc(id, aid) {
		$("#iframe_a").attr("src", "/front/xianqing?pid=" + id + "&anchortid=" + aid);
	}

	//节目的所有数据
	function eidtprogram(ptid,page) {
		let url="/front/programtypedetails?ptid="+ptid;
		if(page!=null){
			url+="&page="+page;
		}
		$("#iframe_a").attr("src", url);
	}

	//登录注册
	function login(flag) {
		$("#iframe_a").attr("src", "/front/login?flag=" + flag);
	}

	//用户详情
	function personal(name) {
		//主播编号 &anchortid="+anchortid
		let acid = [[${session?.user?.get('acid')}]];
		if (acid == null) {
			acid = 0;
		}
		$("#iframe_a").attr("src", "/front/gerenxianqing?name=" + name + "&acid=" + acid);
	}


	//退出登录
	function logout() {
		window.myplay.setPlaylist([]);
		if (localStorage.getItem("playlist")) {
			localStorage.removeItem("playlist");
		}
		$.ajax({
			type: "post",
			url: "http://localhost:8082/front/userlogin/logout",
			success: (data) => {
			window.location.reload();
		}
	})
	}
	//页面//页面加载时创建计时任务
	let p_timer=window.setInterval(function(){mywork();},2000);
	function mywork(){
		let user=[[${session?.user}]];
		if(user!=null){
			if(user['front_uservipoutdata'] !==undefined){
				date1=new Date(user['front_uservipoutdata']).getTime();
				date2=new Date().getTime();
				if(date2>date1){
					//清除计时器
					window.clearInterval(p_timer);
					xtip.msg('你的vip时间已经到期,8秒后页面将会刷新', {type: 'w', pos: 't',times:8});
					setTimeout(function(){
						$.ajax({
							type: "post",
							url: "http://localhost:8082/front/userlogin/jishi",
							data:{id:user['front_userid'],phone:user['front_userphone'],pwd:user['front_userpwd']},
							success: (data) => {
								window.location.reload();
							}
						})
					}, 8000);

				}
			}
		}
	}

	function xtip_open2()
	{
		 xtip.open({
			 tid:"zhi",
			type: 'noready',
			content: '#tip_content2',
			title: '节目购买',
			width: '320px',
			height: '400px',
			lock: true
		});
	}
	//支付
	function xunibishow(userid,pid,ctid,programename,xunibimoney,cname){

		xtip_open2();
		$("#userid").val(userid);
        $("#pid").val(pid);
        $("#ctid").val(ctid);
        $("#pname").html(programename);
        if(ctid==0){
        	$("#cname").html("全本");
		}else{
			$("#cname").html(cname);
		}
        $("#xunibi").html(xunibimoney);
        $("#zhifumoney").val(xunibimoney);

        //获取当前用户所拥有的懒人币
		$.ajax({
			type: "post",
			url: "frontuser/getxunibi",
			data: {front_userid: userid},
			success: (data) => {
				$("#xunibimoney").html(data);
				$("#usermoney").val(data);
			}
		});
	}
	function zhifu(){
		let usermoney=Number($("#xunibimoney").html());
		let zhifumoney=Number( $("#xunibi").html());
		if(usermoney>zhifumoney){
			$.ajax({
				type: "post",
				url: "http://localhost:8082/front/buy/add",
				data:$("#zhifufm").serialize(),
				success: (data) => {
					if(data==1){
						xtip.closeAll();
						xtip.msg('购买成功,可永久收听', {type: 'w', pos: 't'});
					}else{
						xtip.msg('购买失败', {type: 'w', pos: 't'});
					}
				}
			});

		}else{
			xtip.msg('你的虚拟币不足,请充值', {type: 'w', pos: 't'});
		}
	}
	//定义消息提示
	function mgs(context){
		xtip.msg(context, {type: 'w', pos: 't'});
	}
</script>
</html>
