<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div id="play_info">0</div>
<div id="jp_container_N">
    <div class="jp-type-playlist">
        <div id="jplayer_N" class="jp-jplayer hide"></div>
        <div class="jp-gui">
            <div class="jp-interface">
                <div class="jp-controls">
                    <div><a class="jp-previous"><i class="icon-control-rewind i-lg"></i></a></div>
                    <div>
                        <a class="jp-play"><i class="icon-control-play i-2x"></i></a>
                        <a class="jp-pause hid"><i class="icon-control-pause i-2x"></i></a>
                    </div>
                    <div><a class="jp-next"><i class="icon-control-forward i-lg"></i></a></div>
                    <div class="hide"><a class="jp-stop"><i class="fa fa-stop"></i></a></div>

                    <div><img id="poster-ty" class="poster-img" src=""></div>
                    <div class="jp-progress hidden-xs">
                        <div class="jp-seek-bar dk">
                            <div class="jp-play-bar bg">

                            </div>
                            <div class="jp-title text-lt">
                                <ul>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-xs hidden-sm jp-current-time text-xs text-muted"></div>
                    <div class="hidden-xs hidden-sm jp-duration text-xs text-muted"></div>
                    <div class="hidden-xs hidden-sm">
                        <a class="jp-mute" title="mute"><i class="icon-volume-2"></i></a>
                        <a class="jp-unmute hid" title="unmute"><i class="icon-volume-off"></i></a>
                    </div>
                    <div class="hidden-xs hidden-sm jp-volume">
                        <div class="jp-volume-bar dk volume-bor">
                            <div class="jp-volume-bar-value lter "></div>
                        </div>
                    </div>
                    <div>
                        <a class="jp-shuffle" title="shuffle"><i class="icon-shuffle text-muted"></i></a>
                        <a class="jp-shuffle-off hid" title="shuffle off"><i class="icon-shuffle text-lt"></i></a>
                    </div>
                    <div>
                        <a class="jp-repeat" title="repeat"><i class="icon-loop text-muted"></i></a>
                        <a class="jp-repeat-off hid" title="repeat off"><i class="icon-loop text-lt"></i></a>
                    </div>
                    <div>
                        <!--播放列表按钮-->
                        <a class="" data-toggle="dropdown" data-target="#playlist">
                            <i class="icon-playlist"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--播放列表-->
        <div class="jp-playlist dropup" id="playlist">
            <ul class="dropdown-menu aside-xl dker">
                <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                <li class="list-group-item"></li>
            </ul>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        window.myplay = new jPlayerPlaylist({
                jPlayer: "#jplayer_N",
                cssSelectorAncestor: "#jp_container_N",
            }, [],
            {
                ready:function(){
                    alert("左边");
                },
                playing:function(lp,ppr,ppa,pt,tt){
                  alert("播放中");
                },
                timeupdate:function (e){
                    alert(e.mp3);
                },
                playlistOptions: {
                    enableRemoveControls: true,
                    autoPlay: false
                },
                swfPath: "js/jPlayer",
                supplied: "webmv, ogv, m4v, oga, mp3",
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true,
                audioFullScreen: false,
            });
        jQuery('#example3').beforeAfter_slider(
            {
                left: 1,
                top: 1,
                width: 570,
                height: 264,
                start_from: 'left',
                start_pos: 447,
                follow: false,
                //播放列表控制事件
                timer: 15000
            }
        )
    });
    //节目选择
    function getdata(id) {
        $.ajax({
            type: "post",
            url: "chapter/querypid",
            data: {pid: id},
            success: (data) => {
                //清空数据
                window.myplay.setPlaylist([]);
                //添加数据
                for (var i = 0; i < data.length; i++) {
                    window.myplay.add({
                        title: data[i].title,
                        artist: data[i].artist,
                        mp3: data[i].mp3,
                        poster: data[i].poster
                    })
                }
                //cookie获取节目章节索引默认0 播放
                window.myplay.play(0);
                $(".poster-img").attr("src", data[0].poster);
            }
        });
    }

    //对章节进行设置
    function setOne(k) {
        //对内容做转换
        k = k.substring(1, k.length - 1);
        var arr = k.split(",");
        var obj = {};
        for (var i = 0; i < arr.length; i++) {
            var arr2 = arr[i].split("=");
            obj[arr2[0].trim()] = arr2[1].trim();
        }
        //添加音频，并播放
        $(".poster-img").attr("src", obj["poster"]);
        window.myplay.add({
            title: obj["title"],
            artist: obj["artist"],
            mp3: obj["mp3"],
            poster: obj["poster"]
        });
        //播放
        window.myplay.play(-1);
    }

    //暂停
    function pause() {
        window.myplay.pause()
    }

</script>
</html>