<!DOCTYPE html>

<base href="<%=basePath %>"/>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <iframe th:replace="css.html"></iframe>
    <link rel="stylesheet" th:href="${'css/xstyle.css?v=38'}"/>
</head>
<body>
<div class="wrapper clearfix">
    <div class="container r-aside">
        <ol class="aside-menu">
            <li><a>小编推荐</a></li>
            <li><a>新书推荐</a></li>
        </ol>
        <div class="sns-category">.
            <ol>
                <li th:each="it:${list}">
                    <a class="category-item" th:text="${it.ptname}"  th:onclick="|typequery(${it.ptid})|">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="r-article" >
        <div id="program"></div>
        <div class="container">
            <!--循环显示的内容-->
            <section>
                <div class="album-filter-w">
                             <span class="album-filter">
                                 <a class="link" onclick="test()">推荐</a><span class="split">|</span>
                                 <a>最新</a><span class="split">|</span>
                                 <a>最热</a>
                             </span>
                 </div>
                <div class="category-book">
                    <ul class="clearfix">
                        <li class="book-item"  th:each="it:${programinfos.list}">
                            <div class="book-item-photo pr">
                                <a href="">
                                    <img th:src="${it.get('poster')}" ><span  class="play-w">
                                    <i class="icon-play"></i></span></a>
                            </div>
                            <div class="book-item-r">
                                <a href="" class="book-item-name"  th:text="${it.get('pname')}"></a>
                                <div class="book-item-info">
                                    <span class="weaken">主播：</span><a
                                        href="" class="g-user-shutdown" th:text="${it.get('petname')}"></a>
                                </div>
                                <p class="book-item-desc weaken" th:text="${it.get('pintroduction')}"></p>
                                <a showType="3" entityId="27469056" entityType="3" class="btn-collection addCollection">收藏</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--分页-->
        <div class="pager">
            <div class="pagination">
                <a href="programtypedetails?page=1">首页</a>
                <a th:href="|programtypedetails?page=${programinfos.prePage}|">上一页</a>
                <a th:href="|programtypedetails?page=${programinfos.nextPage}|">下一页</a>
                <a th:href="|programtypedetails?page=${programinfos.pages}|">尾页</a>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{'/js/jquery.min.js?v=36'}"></script>
<script>
function typequery(ptid) {
    $.ajax({
        type:"post",
        url:"programtype/queryBytype",
        data:{"ptid":ptid},
        success:function (data) {
            console.log(data);
            $("#program").html(data);
        }
    })
}
</script>
</html>