<!DOCTYPE html>

<base href="<%=basePath %>"/>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <iframe th:replace="css.html"></iframe>
    <link rel="stylesheet" th:href="${'css/xstyle.css?v=38'}"/>
</head>
<body>
<div class="wrapper clearfix">
    <div class="container r-aside">
        <div class="sns-category">.
            <ol>
                <li th:each="it:${list}">
                    <a class="category-item" th:text="${it.ptname}"  th:onclick="|typequery([[${it.ptid}]],null)|">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="r-article" >
        <div id="program"></div>
        <div class="container">
            <!--循环显示的内容-->
            <section>
                <div class="album-filter-w">
                             <span class="album-filter">
                                 <a class="link" >推荐</a>
                             </span>
                </div>
                <div class="category-book">
                    <ul class="clearfix">
                        <li class="book-item"  th:each="it:${programinfos.list}">
                            <div class="book-item-photo pr">
                                <a th:onclick="plays([[${it.pid}]])">
                                    <img th:src="${it.get('poster')}" ><span  class="play-w">
                                    <i class="icon-play"></i></span></a>
                            </div>
                            <div class="book-item-r">
                                <a th:onclick="|showxq(${it.pid},${it.anchortid})|" class="book-item-name"  th:text="${it.get('pname')}"></a>
                                <div class="book-item-info">
                                    <span class="weaken">主播：</span><a
                                        href="" class="g-user-shutdown" th:text="${it.get('petname')}"></a>
                                </div>
                                <p class="book-item-desc weaken" th:text="${it.get('pintroduction')}"></p>
                                <button class="btn-collection"  th:onclick="addcols([[${it.pid}]])">收藏</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--分页-->
        <div class="pager">
            <div class="pagination">
                <a th:onclick="|typequery([[${ptid}]],1)|">首页</a>
                <a th:onclick="|typequery([[${ptid}]],${programinfos.prePage})|">上一页</a>
                <a th:onclick="|typequery([[${ptid}]],${programinfos.nextPage})|">下一页</a>
                <a th:onclick="|typequery([[${ptid}]],${programinfos.pages})|">尾页</a>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{'/js/jquery.min.js?v=36'}"></script>
<script th:inline="javascript" >
    function addcols(pid){
        let user=[[${session?.user}]];
        if(user==null){
            parent.mgs("请登录");
            return;
        }else{
            $.ajax({
                type: "post",
                url: "collection/add",
                data:{front_userid:user['front_userid'],pid:pid},
                success:(data)=>{
                    if(data==1) {
                        parent.mgs("收藏成功");
                    }
                }
            });
        }
    }
    function typequery(ptid,page) {
       window.parent.eidtprogram(ptid,page);
    }
    function plays(id) {
        window.parent.getdata(id);
    }

    function showxq(id, aid) {
        window.parent.eidtsrc(id, aid);
    }

</script>
</html>