<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>支付充值</title>
    <iframe th:replace="css.html"></iframe>
    <link rel="stylesheet" th:href="${'css/recharge.css?v=38'}"/>
</head>
<body>
<section class="settings-main" style="padding-left:50px;padding-right:50px">
    <div>
        <div class="recharge-wrapper">
            <section class="recharge-info">
                <div class="s-title f16">账号：<em th:text="${session?.user.get('front_username')}"></em></div>
                <p class="weaken">您当前的懒人币余额：<span class="amount"
                                                  th:text="${session?.user.get('front_usermoney')}"></span>懒人币</p>
            </section>
            <section class="recharge">
                <h2>账户余额充值</h2>
                <p>选择充值金额：</p>
                <ul class="recharge-option" th:each="it:${chongzhi}">

                    <li><input type="radio" name="recharge" th:value="${it.tsid}" th:tsmoney="${it.tsmoney}" class="rechare-coin"
                               id="recharge-option1"/><label for="recharge-option1"><span class="digital"
                                                                                          th:text="${it.tsmoney}"></span>元(<span
                            class="digital" th:text="${it.tscustom}"></span>懒人币)</label></li>
                </ul>
                <div class="recharge-way">
                    <p>选择支付方式：</p>
                    <div class="clearfix">
                        <a class="recharge-way-item active" id="alipay"><span class="alipay"></span></a>
                    </div>
                    <div class="recharge-count">应付金额：<span class="amount payable-coin" id="xianshi"></span>元</div>
                    <form action="payment/pay" method="post">
                        <input type="hidden" name="front_userid" th:value="${session?.user.get('front_userid')}"/>
                        <input type="hidden" name="tsid" id="tsid" value="">
                        <input type="hidden" name="WIDtotal_amount" id="tsr"/>
                        <input class="btn-primary" type="submit" value="立即支付">
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>
</body>
<script th:inline="javascript">
    $(function () {
        $("[type='radio']")[0].checked = true;
        $("#tsid").val([[${chongzhi[0].tsid}]]);
        $("#tsr").val([[${chongzhi[0].tsmoney}]]);
        $("#xianshi").val([[${chongzhi[0].tsmoney}]]);
        $("[type='radio']").change(function () {
            $("#xianshi").html($(this).attr("tsmoney"));
            $("#tsid").val($(this).attr("value"));
            $("#tsr").val($(this).attr("tsmoney"));
        })
    });
</script>
</html>