<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="w-f-md">
    <section class="hbox stretch bg-black dker">
        <!-- side content -->
        <aside class="col-sm-5 no-padder" id="sidebar">
            <section class="vbox animated fadeInUp">
                <section class="scrollable">
                    <!--展示列表-->
                    <ul class=" list-group list-group-lg radius no-border no-bg m-t-n-xxs m-b-none auto" id="latest">
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div id="hoveraudio" class=" clear text-ellipsis">
                                <span>The wheel of fortune</span>
                                <span class="text-muted"> -- 03:30</span>
                            </div>
                            <div class="music-jump"></div>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>you are my king</span>
                                <span class="text-muted"> -- 02:37</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>初恋的小美好</span>
                                <span class="text-muted"> -- 03:59</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>Lilac</span>
                                <span class="text-muted"> -- 04:38</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span> 一人静</span>
                                <span class="text-muted"> -- 04:38</span>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>Through My Blood</span>
                                <span class="text-muted"> -- 04:04</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>Too Late To Say</span>
                                <span class="text-muted"> -- 05:15</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>琥珀色の海へ</span>
                                <span class="text-muted"> -- 03:21</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>からくりピエロ (instrumental)</span>
                                <span class="text-muted"> -- 04:52</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>M04</span>
                                <span class="text-muted"> -- 02:21</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>M35</span>
                                <span class="text-muted"> -- 01:35</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>哈尔的移动城堡</span>
                                <span class="text-muted"> -- 02:22</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>流れ星</span>
                                <span class="text-muted"> -- 01:37</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>Memories</span>
                                <span class="text-muted"> -- 05:15</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>それがあなたの幸せとしても</span>
                                <span class="text-muted"> -- 04:29</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>Angel</span>
                                <span class="text-muted"> -- 04:35</span>
                            </div>
                        </li>
                        <li class="list-group-item">

                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>兰若词</span>
                                <span class="text-muted"> -- 04:35</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="jp-play-me m-r-sm pull-left">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                            <div class="clear text-ellipsis">
                                <span>Pieces Of My Words-言の花-</span>
                                <span class="text-muted"> -- 03:54</span>
                            </div>
                        </li>
                    </ul>
                </section>
            </section>
        </aside>
    </section>
</section>
</body>
</html>