<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div data-v-8b689e88="" data-v-b39d6196="" class="account_info">
    <div data-v-0ca0411d="" data-v-8b689e88="" class="title">
        <div data-v-0ca0411d="" class="left">
            <p data-v-0ca0411d="">基本信息</p>
            <div data-v-0ca0411d="" class="tag">

            </div>
        </div>
        <div data-v-0ca0411d="" class="right">
        </div>
    </div>
    <div data-v-8b689e88="" class="info_wrap">

       <form>
           <div data-v-8b689e88="" class="info">
               <div data-v-8b689e88="" class="label">
                   昵称
               </div>
               <div data-v-8b689e88="" class="value">

                   <input type="hidden" id="front_userid" name="front_userid" th:value="${session?.user?.get('front_userid')}" />

                   <span id="front_username"></span>
                   <div id='show1' style="display:none">
                   </div>
               </div>
               <!--<div data-v-8b689e88="" class="operation">
                   <span id="nameedit" data-v-8b689e88="" class="can_edit">修改</span>
               </div>-->
           </div>
           <div data-v-8b689e88="" class="info">
               <div data-v-8b689e88="" class="label">
                   头像
               </div>
               <div data-v-8b689e88="" class="value">

                   <img data-v-8b689e88="" class="cover" style="display: none;">

                   <img data-v-8b689e88="" id="front_userpic" src="" class="cover" />

               </div>
               <!--<div data-v-8b689e88="" class="operation">
                   <span data-v-8b689e88="" class="can_edit">更换头像</span>
               </div>-->
           </div>
           <div data-v-8b689e88="" class="info">
               <div data-v-8b689e88="" class="label">
                   手机号码
               </div>
               <div data-v-8b689e88="" class="value">

                   <span id="front_userphone"></span>
               </div>
               <!-- <div data-v-8b689e88="" class="operation">
                    <span data-v-8b689e88="" class="can_edit">修改</span>
                </div>-->
           </div>

           <div data-v-8b689e88="" class="info">
               <div data-v-8b689e88="" class="label">
                   实名认证
               </div>
               <div data-v-8b689e88="" class="value">
                   <span id="front_userflag"></span>
               </div>
               <div id="fuserflag" data-v-8b689e88="" class="operation">
                   <span data-v-8b689e88="" class="can_edit">查看认证信息</span>
               </div>
           </div>
           <div data-v-8b689e88="" class="info">
               <div data-v-8b689e88="" class="label">
                   设置密码
               </div>
               <div data-v-8b689e88="" class="value">
                   <span id="front_userpwd"></span>
               </div>
               <!-- <div data-v-8b689e88="" class="operation">
                    <span data-v-8b689e88="" class="can_edit">修改密码</span>
                </div>-->
           </div>

       </form>
    </div>


</body>
<script th:src="@{'/js/jquery.min.js?v=36'}"></script>
<script th:src="@{'/js/vue.js'}"></script>
<script>
    $(function() {
        var userid = $("#front_userid").val();
        $.ajax({
            type: "post",
            url: "frontuser/queryByuserId",
            data: {
                "front_userid": userid
            },
            success: function(data) {
                $("#front_username").html(data.front_username);
                $("#front_userphone").html(data.front_userphone);
                $("#front_userpic").attr("src", data.front_userpic);
                if (data.front_userflag == 2) {
                    $("#front_userflag").html("已认证");
                    $("#fuserflag").show();
                } else {
                    $("#front_userflag").html("未认证");
                    $("#fuserflag").hide();
                }
                var s = data.front_userpwd = "*********";
                $("#front_userpwd").html(s);

            }
        })
    })
</script>
</html>
