<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Title</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 -->

</head>
<body>
<div data-v-8b689e88="" data-v-b39d6196="" class="account_info">
    <div data-v-0ca0411d="" data-v-8b689e88="" class="title">
        <div data-v-0ca0411d="" class="left">
            <p data-v-0ca0411d="">基本信息</p>
            <div data-v-0ca0411d="" class="tag">
            </div>
        </div>
        <div data-v-0ca0411d="" class="right">
        </div>
    </div>

    <div id="query" style="display: none" align="center">
        <form id="fm"  enctype="multipart/form-data">
            <input type="hidden"  name="front_userid" th:value="${session?.user?.get('front_userid')}" />
            <img id="cropedBigImg" src="" style="width: 100px;height: 100px" class="img-rounded">
            <div class="form-group">
                <label for="chooseImage">头像</label>
                <input type="file" name="front_userpic" id="chooseImage">
            </div>
            <div class="form-group">
                <label for="exampleInputName">昵称</label>
                <input type="hidden"  name="front_userflag" th:value="${session?.user?.get('front_userflag')}" />
                <input type="text" id="exampleInputName" name="front_username"  onblur="checkusername()" class="form-control" style="width: 190px"  >
                <p id="checkusername"></p>
            </div>
            <input type="hidden" name="flag" id="flag">
        </form>
        <button type="button" id="save" class="btn btn-primary">保存</button>
        <button id="resultfrom"  class="btn btn-warning">取消</button>
    </div>

    <div id="querypwd"   style="display: none" align="center">
        <form id="form">
            <div class="form-group">
                <label for="pwd">旧密码</label>
                <input type="hidden"  id="ddpwd">
                <input type="password" class="form-control" onblur="checkoldpwd()" style="width: 190px"  id="pwd" placeholder="旧密码">
                <p id="checkoldpwd"></p>
            </div>
            <div class="form-group">
                <label for="newpwd">新密码</label>
                <input type="password" class="form-control"  onblur="checknewpwd()" style="width: 190px" id="newpwd" placeholder="新密码">
                <p id="checknewpwd"></p>
            </div>
            <div class="form-group">
                <label for="affirmpwd">确认密码</label>
                <input type="password" class="form-control" onblur="checkaffirmpwd()" style="width: 190px"  id="affirmpwd" placeholder="确认密码">
                <p id="checkresultpwd"></p>
            </div>`

        </form>
        <button type="button" id="savepwd" class="btn btn-primary">修改</button>
        <button type="button" id="resultpwd"  class="btn btn-warning">取消</button>
    </div>


    <div data-v-8b689e88="" class="info_wrap">
        <div id="show">
            <div data-v-8b689e88="" class="info">
                <div data-v-8b689e88="" class="label">
                    昵称
                </div>
                <div data-v-8b689e88="" class="value">
                    <input type="hidden" id="front_userid" name="front_userid" th:value="${session?.user?.get('front_userid')}" />
                    <span id="front_username"></span>
                    <div id='show1' style="display:none">
                    </div>
                </div>
            </div>
            <div data-v-8b689e88="" class="info">
                <div data-v-8b689e88="" class="label">
                    头像
                </div>
                <div data-v-8b689e88="" class="value">
                    <img data-v-8b689e88="" class="cover" style="display: none;">
                    <img data-v-8b689e88="" id="front_userpic" src="" class="cover" />
                </div>
            </div>
            <div data-v-8b689e88="" class="info">
                <div data-v-8b689e88="" class="label">
                    手机号码
                </div>
                <div data-v-8b689e88="" class="value">
                    <span id="front_userphone"></span>
                </div>
            </div>
            <div data-v-8b689e88="" class="info">
                <div data-v-8b689e88="" class="label">
                    账号创建时间
                </div>
                <div data-v-8b689e88="" class="value">
                    <span id="front_usercreatedate"></span>
                </div>
            </div>
            <div data-v-8b689e88="" class="info">
                <div data-v-8b689e88="" class="label">
                    懒币
                </div>
                <div data-v-8b689e88="" class="value">
                    <span id="front_usermoney"></span>
                </div>
            </div>

            <div data-v-8b689e88="" class="info">
                <div data-v-8b689e88="" class="label">
                    提现金额
                </div>
                <div data-v-8b689e88="" class="value">
                    <span id="front_userwd"></span>
                </div>
            </div>

            <div data-v-8b689e88="" class="info">
                <div data-v-8b689e88="" class="label">
                    会员到期时间
                </div>
                <div data-v-8b689e88="" class="value">
                    <span id="front_uservipoutdata"></span>
                </div>
            </div>
            <div data-v-8b689e88="" class="info">
                <div data-v-8b689e88="" class="label">
                    实名认证
                </div>
                <div data-v-8b689e88="" class="value">
                    <span id="front_userflag"></span>
                </div>
            </div>
            <div data-v-8b689e88="" class="info">
                <div data-v-8b689e88="" class="label">
                    设置密码
                </div>
                <div data-v-8b689e88="" class="value">
                    <span id="front_userpwd"></span>
                </div>
                <div>
                </div>
            </div>
            <button id="btn" onclick="uploadfrom()" class="btn btn-primary">完善信息</button>
            <button id="updatepwd" class="btn btn-primary">修改密码</button>
        </div>


    </div>
</div>
</body>

<script th:src="@{'/js/jquery.min.js?v=36'}"></script>

<script>
    function checkoldpwd() {
        var pwd = $("#pwd").val();
        if(pwd==""){
            $("#checkoldpwd").html("请输入旧密码")
            return false;
        }
        if($("#ddpwd").val()!=pwd){
            $("#checkoldpwd").html("密码错误")
            return false;
        }
        $("#checkoldpwd").html("")
        return true;
    }
    function checknewpwd() {
        var newpwd = $("#newpwd").val();
        if(newpwd==""){
            $("#checknewpwd").html("请输入新密码")
            return false;
        }
        if(newpwd== $("#pwd").val()){
            $("#checknewpwd").html("新密码不能与旧密码一致")
            return false;
        }
        $("#checknewpwd").html("")

        return true;

    }
    function checkaffirmpwd() {
        var checkaffirmpwd = $("#affirmpwd").val();
        if(checkaffirmpwd==""){
            $("#checkresultpwd").html("请确认密码");
            return false;
        }
        if($("#newpwd").val()!=checkaffirmpwd){
            $("#checkresultpwd").html("两次密码不一致");
            return false;
        }
        $("#checkresultpwd").html("");
        return true;
    }

    //校验姓名
    function checkusername(){
        var name = $("#exampleInputName").val();
        if(name==""){
            $("#checkusername").html("请输入昵称");
            return false;
        }
        $("#checkusername").html("");
        return true;
    }
    //打开修改页面
    function uploadfrom(){
        $("#show").hide();
        $("#query").show();
    }
    $(function() {
        var userid = $("#front_userid").val();
        $.ajax({
            type: "post",
            url: "frontuser/queryByuserId",
            data: {
                "front_userid": userid
            },
            success: function(data) {
                console.log(data);
                $("#front_username").html(data.front_username);
                $("#exampleInputName").val(data.front_username);
                $("#front_userphone").html(data.front_userphone);
                $("#front_userpic").attr("src", data.front_userpic);
                $("#cropedBigImg").attr("src", data.front_userpic);
                $("#flag").attr("value",data.flag);
                $("#front_usercreatedate").html(data.front_usercreatedate);
                $("#front_usermoney").html(data.front_usermoney);
                $("#ddpwd").attr("value",data.front_userpwd );
                $("#front_userwd").html(data.front_userwd);
                if(data.front_uservipoutdata!=null){
                    $("#front_uservipoutdata").html(data.front_uservipoutdata);
                }else{
                    $("#front_uservipoutdata").html("会员未开通");
                }
                if (data.front_userflag == 2) {
                    $("#front_userflag").html("已认证");
                    $("#fuserflag").show();
                } else {
                    $("#front_userflag").html("未认证");
                    $("#fuserflag").hide();
                }
                var s = data.front_userpwd = "*********";
                $("#front_userpwd").html(s);

            }
        })
        $("#chooseImage").on('change',function () {
            //获取到input的value，里面是文件的路径
            var filePath=$(this).val();
            var fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase();
            if( !fileFormat.match(/.png|.jpg|.jpeg/) ) {
                $("#checkpic").html("上传错误,文件格式必须为：png/jpg/jpeg'");
                return;
            }else{
                $("#checkpic").html("");
            }
            var src = window.URL.createObjectURL(this.files[0]); //转成可以在本地预览的格式
            $('#cropedBigImg').attr('src',src);
        })
        $("#save").on('click',function () {
            var formdata=new FormData($("#fm")[0]);
            var phone = $("#front_userphone").html();
            formdata.append("phone",phone)
            if( formdata.getAll("front_userpic")==""){
                formdata.append("front_userpic",$("#cropedBigImg").attr("src"));
            }
            $.ajax({
                type:"post",
                url:"frontuser/updatefrontuser",
                data:formdata,
                processData: false, // 告诉jQuery不要去处理发送的数据
                contentType: false,
                success:function (data) {
                    console.log(data);
                    if(data==1){
                        window.location.href = window.location.href;
                    }
                }
            })
        })
        //展开修改密码页面
        $("#updatepwd").on('click',function () {
            $("#querypwd").show();
            $("#show").hide();
        })

        //关闭页面
        $("#resultfrom").on('click',function () {
            $("#show").show();
            $("#query").hide();
        })
        //关闭修改密码页面重置数据
        $("#resultpwd").on('click',function () {
            $("#querypwd").hide();
            $("#affirmpwd").val("");
            $("#newpwd").val("");
            $("#pwd").val("");
            $("#checknewpwd").html("")
            $("#checkoldpwd").html("")
            $("#checkresultpwd").html("");
            $("#show").show();
        })
        //修改密码
        $("#savepwd").on('click',function () {
            if(checkoldpwd() && checknewpwd() && checkaffirmpwd() ){
                var pwd = $("#newpwd").val();
                $.ajax({
                    type: "post",
                    url: "frontuser/updatepassword",
                    data: {"front_userid": userid,"front_userpwd":pwd},
                    success:function (data) {
                        if(data==1){
                            window.parent.logout();
                        }
                    }
                })
            }

        })
    })

</script>
<style>
    div p {
        color: red;
        font-size: 12px;
    }
    #btn{
        margin-left: 50px;
        margin-right: 30px;
    }

    #chooseImage{
        margin-left: 70px;
    }
    #save{
        margin-right:30px;
    }
    #savepwd{
        margin-right: 30px;
    }

</style>
</html>