<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:if="${session?.user?.front_userflag}!=1">
    认证成功的信息
</div>

<div style="" th:if="${session?.user?.front_userflag}==1">
    <div data-v-997dad96="" class="tip notAuth">
        <i data-v-997dad96="" class="preIcon ivu-icon iconfont iconicon_mistake_tips"
                                                   style="font-size: 14px;"></i>
        <p data-v-997dad96="" class="warn-msg">
            您还没有完成实名认证，目前无法发布作品
        </p>
        <!---->
    </div>
    <div data-v-e7ce8334="" class="edit-auth">
        <form data-v-e7ce8334="" autocomplete="off" class="ivu-form ivu-form-label-right">
            <!---->
            <div data-v-e7ce8334="" class="person">
                <div data-v-e7ce8334="" class="title">
                    <div data-v-e7ce8334="">
                        <h3 data-v-e7ce8334="" class="person_title">
                            个人认证信息
                        </h3> <span data-v-a1edb30a="" data-v-e7ce8334="" class="status" style="color: rgb(245, 34, 45);">未认证</span>
                    </div>
                </div>
                <div data-v-e7ce8334="" class="ivu-form-item ivu-form-item-required"><label class="ivu-form-item-label" style="width: 140px;">姓名</label>
                    <div class="ivu-form-item-content" style="margin-left: 140px;">
                        <div data-v-e7ce8334="" class="w_230 ivu-input-wrapper ivu-input-wrapper-lr40 ivu-input-type-text">
                            <!---->
                            <!----> <i class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
                            <input autocomplete="off" spellcheck="false" type="text" placeholder="请输入姓名" maxlength="10" class="ivu-input ivu-input-lr40">

                        </div>
                    </div>
                </div>
                <div data-v-e7ce8334="" class="ivu-form-item ivu-form-item-required"><label class="ivu-form-item-label" style="width: 140px;">证件类型</label>
                    <div class="ivu-form-item-content" style="margin-left: 140px;">
                        <div data-v-e7ce8334="" class="w_230 ivu-select ivu-select-single ivu-select-large">
                            <div tabindex="0" class="ivu-select-selection">
                                <select style="width: 100%;height: 100%;">
                                    <option>1</option>
                                </select>

                            </div>
                        </div>
                        <!---->
                        <!---->
                    </div>
                </div>
                <div data-v-e7ce8334="" class="ivu-form-item ivu-form-item-required"><label class="ivu-form-item-label" style="width: 140px;">证件号码</label>
                    <div class="ivu-form-item-content" style="margin-left: 140px;">
                        <div data-v-e7ce8334="" class="w_230 ivu-input-wrapper ivu-input-wrapper-lr40 ivu-input-type-text">
                            <!---->
                            <!----> <i class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
                            <input autocomplete="off" spellcheck="false" type="text" placeholder="请输入证件号码" class="ivu-input ivu-input-lr40">
                            <!---->
                        </div>
                    </div>
                </div>

                <div data-v-e7ce8334="" class="ivu-form-item ivu-form-item-required">
                    <label class="ivu-form-item-label" style="width: 140px;">证件反面</label>
                    <div class="ivu-form-item-content" style="margin-left: 140px;">
                        <div data-v-c4b17aae="" data-v-e7ce8334="">
                            <input  type="file" id="fs" class="upload_btn ivu-btn ivu-btn-default"></input>
                            <span data-v-e7ce8334="" data-v-c4b17aae="" class="tip">格式支持PNG、BMP、JPG或GIF，照片少于5M</span>
                            <div data-v-c4b17aae="" class="upload_wrap">
                                <div data-v-c4b17aae="" class="upload_area">
                                    <div data-v-c4b17aae="" class="real real_hover">
                                        <img id="ims" src="" style="width: 100%;height: 100%;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-e7ce8334="" class="ivu-form-item ivu-form-item-required">
                    <label class="ivu-form-item-label" style="width: 140px;">证件正面</label>
                    <div class="ivu-form-item-content" style="margin-left: 140px;">
                        <div data-v-c4b17aae="" data-v-e7ce8334="">
                            <input  type="file" id="f" class="upload_btn ivu-btn ivu-btn-default"></input>
                            <span data-v-e7ce8334="" data-v-c4b17aae="" class="tip">格式支持PNG、BMP、JPG或GIF，照片少于5M</span>
                            <div data-v-c4b17aae="" class="upload_wrap">
                                <div data-v-c4b17aae="" class="upload_area">
                                    <div data-v-c4b17aae="" class="real real_hover">
                                      <img id="im" src="" style="width: 100%;height: 100%;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            <div data-v-e7ce8334="" class="ivu-form-item">
                <!---->
                <div class="ivu-form-item-content" style="margin-left: 140px;"><button data-v-e7ce8334="" type="button" class="submit lr_btn_solid ivu-btn ivu-btn-default">
                   <span>
									提 交
								</span></button>
                </div>
            </div>
        </form>



    </div>
    <!---->
</div>
</body>
<script th:src="@{'/js/jquery.min.js?v=36'}"></script>
<script>
    var regexImageFiler;
    regexImageFiler = /^(?:image\/bmp|image\/png|image\/jpeg|image\/jpg|image\/gif)$/i;
    var imgReaderl = new FileReader();
    var imgReader2 = new FileReader();
    imgReaderl.onload = function(evt) {
        $("#im").attr("src", evt.target.result);
    };
    imgReader2.onload = function(evt) {
        $("#ims").attr("src", evt.target.result);
    };

    $("#f").change(function() {
        var imgfFile = $("#f").prop("files")[0];
        if(!regexImageFiler.test(imgfFile.type)) {
            alert("选择有效图片");
        }
        imgReaderl.readAsDataURL(imgfFile);
    });

    $("#fs").change(function() {
        var imgfFile = $("#fs").prop("files")[0];
        if(!regexImageFiler.test(imgfFile.type)) {
            alert("选择有效图片");
        }
        imgReader2.readAsDataURL(imgfFile);
    })
</script>
</html>