<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:if="${session?.user?.get('front_userflag')}!=1">
    认证成功的信息
</div>

<div style="" th:if="${session?.user?.get('front_userflag')}==1">
    <div data-v-997dad96="" class="tip notAuth" id="hid" >
        <i data-v-997dad96="" class="preIcon ivu-icon iconfont iconicon_mistake_tips" style="font-size: 14px;"></i>
        <p  data-v-997dad96="" class="warn-msg">
            您还没有完善个人信息，目前无法进行认证
        </p>
    </div>
    <div data-v-e7ce8334="" class="edit-auth">
        <form data-v-e7ce8334="" autocomplete="off" class="ivu-form ivu-form-label-right" id="fm"  enctype="multipart/form-data">
            <div data-v-e7ce8334="" class="person">
                <div data-v-e7ce8334="" class="title">
                    <div data-v-e7ce8334="">
                        <h3 data-v-e7ce8334="" class="person_title">
                            个人认证信息
                        </h3>
                    </div>
                </div>
                <div data-v-e7ce8334="" class="ivu-form-item ivu-form-item-required"><label class="ivu-form-item-label" style="width: 140px;">姓名</label>
                    <div class="ivu-form-item-content" style="margin-left: 140px;">
                        <div data-v-e7ce8334="" class="w_230 ivu-input-wrapper ivu-input-wrapper-lr40 ivu-input-type-text">
                            <i class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
                            <input autocomplete="off" onblur="checkrname()" id="rname"  spellcheck="false" type="text" name="rname" placeholder="请输入姓名" maxlength="10" class="ivu-input ivu-input-lr40">
                            <p id="checkrname"></p>


                            <!--主播名称-->
                            <!--<input type="text" th:value="${session.user.get('petname')}" name="artist"/>-->
                            <input type="hidden" id="front_username" name="front_username" th:value="${session?.user?.get('front_username')}"/>
                            <input type="hidden" id="front_userid" name="front_userid" th:value="${session?.user?.get('front_userid')}"/>
                            <input type="hidden" name="front_userphone" th:value="${session?.user?.get('front_userphone')}"/>
                            <input type="hidden" name="flag" th:value="${session?.user?.get('flag')}">
                        </div>
                    </div>
                </div>
                <div data-v-e7ce8334="" class="ivu-form-item ivu-form-item-required"><label class="ivu-form-item-label" style="width: 140px;">证件类型</label>
                    <div class="ivu-form-item-content" style="margin-left: 140px;">
                        <div data-v-e7ce8334="" class="w_230 ivu-select ivu-select-single ivu-select-large">
                            <div tabindex="0" class="ivu-select-selection">
                                <select style="width: 100%;height: 100%;">
                                    <option>二代身份证</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-e7ce8334=""  class="ivu-form-item ivu-form-item-required"><label class="ivu-form-item-label" style="width: 140px;">证件号码</label>
                    <div class="ivu-form-item-content" style="margin-left: 140px;">
                        <div data-v-e7ce8334="" class="w_230 ivu-input-wrapper ivu-input-wrapper-lr40 ivu-input-type-text">
                             <i class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
                            <input autocomplete="off" onblur="checkridcard()" id="ridcard"  spellcheck="false" type="text" name="ridcard" placeholder="请输入证件号码" class="ivu-input ivu-input-lr40">
                            <p id="checkridcard"></p>
                        </div>
                    </div>
                </div>
                <div data-v-e7ce8334="" class="ivu-form-item ivu-form-item-required">
                    <label class="ivu-form-item-label" style="width: 140px;">证件正面</label>
                    <div class="ivu-form-item-content" style="margin-left: 140px;">
                        <div data-v-c4b17aae="" data-v-e7ce8334="">
                            <input type="file" id="f"  name="ridcardpositivepic" class="upload_btn ivu-btn ivu-btn-default" ></input>
                            <span data-v-e7ce8334="" data-v-c4b17aae="" class="tip">格式支持PNG、BMP、JPG或GIF，照片少于5M</span>
                            <p id="checkpic"></p>
                            <div data-v-c4b17aae="" class="upload_wrap">
                                <div data-v-c4b17aae="" class="upload_area">
                                    <div data-v-c4b17aae="" class="real real_hover">
                                        <img id="im" src="" style="width: 100%;height: 100%;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-e7ce8334="" class="ivu-form-item">
                    <div class="ivu-form-item-content" style="margin-left: 140px;">
                        <button data-v-e7ce8334="" id="btn" type="button" class="submit lr_btn_solid ivu-btn ivu-btn-default">
                            <span>提 交</span></button>
                    </div>

                    <!--<button data-v-e7ce8334="" id="test" type="button" class="submit lr_btn_solid ivu-btn ivu-btn-default">
                        <span>测试</span></button>-->
                </div>

              <!--  <div data-v-e7ce8334="" class="ivu-form-item ivu-form-item-required">
                    <label class="ivu-form-item-label" style="width: 140px;">证件反面</label>
                    <div class="ivu-form-item-content" style="margin-left: 140px;">
                        <div data-v-c4b17aae="" data-v-e7ce8334="">
                            <input type="file" id="fs" class="upload_btn ivu-btn ivu-btn-default"></input>
                            <span data-v-e7ce8334="" data-v-c4b17aae="" class="tip">格式支持PNG、BMP、JPG或GIF，照片少于5M</span>
                            <div data-v-c4b17aae="" class="upload_wrap">
                                <div data-v-c4b17aae="" class="upload_area">
                                    <div data-v-c4b17aae="" class="real real_hover">
                                        <img id="ims" src="" style="width: 100%;height: 100%;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
        </form>
    </div>
</div>
</body>
<script th:src="@{'/js/jquery.min.js?v=36'}"></script>
<script>


    function checkrname(){
        var rname=$("#rname").val();
        var reg = /^[\u4e00-\u9fa5\s\.]+$/;

        if(rname==""){
            $("#checkrname").html("请输入姓名");
            return false;
        }
        if(!reg.test(rname)){
            $("#checkrname").html("请输入汉字")
            return false;
        }
        $("#checkrname").html("");
        return true;
    }
    function checkridcard(){
        var idcard=$("#ridcard").val();
        var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
        if(idcard==""){
            $("#checkridcard").html("请输入身份证号");
            return false;
        }
        if(!reg.test(idcard)){
            $("#checkridcard").html("身份证格式有误");
            return false;
        }
        $("#checkridcard").html("");
        return true;
    }
    function checkpic(){
        if($("[name='ridcardpositivepic']").val()==""){
            $("#checkpic").html("请选择照片")
            return false;
        }
        $("#checkpic").html("")
        return true;
    }
    $(function () {
        if($("#front_username").val()==""){
            $("#hid").show();
            $("#fm").hide();
        }else if($("#front_username").val()!="" ){
            $("#hid").hide();
            $("#fm").show();
        }
        $("#test").click(function () {
            var front_userid = $("#front_userid").val();
            var front_username = $("#front_username").val();
            $.ajax({
                type:"post",
                url:"anchorinfo/addanchor",
                data:{"front_userid":front_userid,"petname":front_username},
                success:function (data) {
                    console.log(data);
                }
            })
        })


        $("#btn").click(function () {
           if(checkrname() && checkridcard() ){
               var formdata=new FormData($("#fm")[0]);
               $.ajax({
                   type:"post",
                   url:"realnameinfo/addrealnameinfo",
                   data:formdata,
                   processData: false, // 告诉jQuery不要去处理发送的数据
                   contentType: false,
                   success:function (data) {
                       if(data==1){
                           //修改用户为个人主播
                           var front_userid=$("#front_userid").val();
                           $.ajax({type:"post", url:"realnameinfo/updatefrontflag", data:{"front_userid":front_userid}, success:function (data) {
                                   console.log("修改用户状态"+data)
                                   if(data==1){
                                       var front_userid = $("#front_userid").val();
                                       var front_username = $("#front_username").val();
                                       $.ajax({
                                           type:"post",
                                           url:"anchorinfo/addanchor",
                                           data:{"front_userid":front_userid,"petname":front_username},
                                           success:function (data) {
                                              if(data==1){
                                                  alert("成功")
                                              }
                                           }
                                       })
                                   }
                               }
                           })
                       }else{
                           alert("失败")
                       }
                   }
               })
           }
        })
    })
</script>
<style>
    div p {
        color: red;
        font-size: 12px;
    }
</style>
</html>
