<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'css/styles.css?v=36'}">
    <iframe th:replace="css.html"></iframe>
    <iframe th:replace="listencss.html"></iframe>
    <link rel="stylesheet" th:href="@{'xtip/css/xtiper.css'}">
</head>
<body>
<div class="wrapper clearfix">
    <div class="column-l container">
        <section class="d-info d-book-info clearfix">
            <div class="d-cover d-book-cover">
                <img th:src="${programinfo.get('poster')}" th:alt="${programinfo.pname}"/>
            </div>
            <div class="d-r">
                <h1 class="nowrap"><span th:text="${programinfo.pname}"></span></h1>
                <ul class="d-grid nowrap">
                    <li><span class="weaken">主播：</span>
                        <a class="g-user-shutdown" th:text="${programinfo.get('petname')}"></a>
                    </li>
                </ul>
                <ul class="d-grid">
                    <li><span class="weaken">类型：</span><span th:text="${programinfo.get('ptname')}"></span></li>
                </ul>
                <ul class="d-grid">
                    <li><span class="weaken">状态：</span><span th:switch="${programinfo.get('pstate')}">
                        <span th:case="0">连载</span>
                        <span th:case="1">完本</span>
                    </span>
                    </li>
                </ul>
                <ul class="d-grid" th:if="${programinfo.get('allprice')}!=0">
                    <li><span class="weaken">全本价格：</span><span th:text="${programinfo.get('allprice')}"></span></li>
                </ul>
                <ul class="d-grid" th:if="${programinfo.get('allprice')}!=0">
                    <button  class="btn-default" th:onclick="xunibi([[${programinfo.pid}]],0,[[${programinfo.pname}]],[[${programinfo.get('allprice')}]])" type="button" style="width: 120px;height: 30px;display: block;"  >全本购买</button>
                </ul>
                <div class="d-o d-book-o">
                    <a class="d-p " href='javascript:;' th:onclick="allplay([[${programinfo.pid}]])"></a>
                    <div class="fr">
                        <a class="d-collection" th:onclick="addcol([[${programinfo.pid}]])"><span
                                >收藏</span></a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="d-desc f14">
                <div class="d-tab">
                    <span>内容简介</span>
                </div>
                <p th:text="${programinfo.pintroduction}"></p>
            </div>
        </section>
        <section class="d-section">
            <div class="d-tab">
                <span>书籍章节</span>
            </div>
            <!--章节信息-->
            <ul id="pul" th:each="item:${chapterinfos}" style="padding: 0px 10px;">
                <li th:mytest="${item}">
                    <a class="jp-play-me m-r-sm pull-left">
                        <i class="icon-control-play text"></i>
                        <i class="icon-control-pause text-active"></i>
                    </a>
                    <!--
                        <span th:text="${item.title}"></span>/作者:<span th:text="${item.artist}"></span>
                    -->
                    <a  th:text="${item.title}"></a>
                    <!--
                        th:onclick="|xunibi(${session?.user.get('front_userid')},${programinfo.pid},${item.ctid},${programinfo.pname},${item.title})|"
                    -->
                    <time>更新时间:<em th:text="${item.createdate}"></em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em th:if="${item.state}==1" >价格:<em th:text="${item.get('virtualcurrency')}"></em></em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <em  th:switch="${session?.user?.get('front_userstate')}">
                            <em th:case="2">
                                <em th:if="${item.state}==1">会员免费</em>
                            </em>
                            <em th:case="0">
                                <em  th:if="${item.state}==1"
                                     th:onclick="xunibi([[${programinfo.pid}]],[[${item.ctid}]],[[${programinfo.pname}]],[[${item.get('virtualcurrency')}]],[[${item.title}]],[[${item.mp3}]])" >
                                    <font color="#008b8b" >章节购买</font>||</em>
                            </em>
                        </em>
                        <em th:onclick="xiazhan([[${programinfo.pid}]],[[${item.ctid}]],[[${item.mp3}]],[[${item.state}]])"><font color="#008b8b" >章节下载</font></em></time>
                </li>
            </ul>
        </section>
    </div>
    <div class="column-r">
        <div class="container">
            <section class="sub-book">
                <div class="s-title"><span class="f16">他还演播了/</span><a>更多</a></div>
                <ul th:each="it:${pros}">
                    <li class="book-item">
                        <div class="fl book-item-photo pr">
                            <a href='javascript:;' th:onclick="allplay([[${it.pid}]])">
                                <img th:src="${it.poster}"/>
                                <span class="play-w"><i class="icon-play-s"></i></span>
                            </a>
                        </div>
                        <div class="book-item-r">
                            <a href='javascript:;' th:onclick="showxq([[${it.pid}]],[[${it.anchortid}]])"
                               class="book-item-name" th:text="${it.pname}"></a>
                            <div class="nowrap weaken">类型：<em th:text="${it.ptname}"></em></div>
                            <div class="nowrap weaken">主播：<em th:text="${it.petname}"></em></div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
<div style="height: 50px"></div>
</body>

<script th:src="@{'/xtip/js/xtiper.min.js'}"></script>
<script  th:inline="javascript">
    //全部播放
    function allplay(id) {
        window.parent.getdata(id);
    }
    //显示详情
    function showxq(id, aid) {
        window.parent.eidtsrc(id, aid);
    }
    $(document).ready(function () {
        $("#before,#after").addClass("set_imd");
        $(document).on('click', '.jp-play-me', function (e) {
            e && e.preventDefault();
            var $this = $(e.target);
            if (!$this.is('a')) $this = $this.closest('a');//closest() 方法获得匹配选择器的第一个祖先元素，从当前元素开始沿 DOM 树向上。
            $('.jp-play-me').not($this).removeClass('active');
            $('.jp-play-me').parent('li').not($this.parent('li')).removeClass('active');
            $this.toggleClass('active');
            $this.parent('li').toggleClass('active');
            if (!$this.hasClass('active')) {
                //获取当前元素
                window.parent.pause();
            } else {
                //播放列表里面设置章节
                var k = $(this).parent("li")[0].getAttribute("mytest");
                //往播放列表中追加音频
                window.parent.setOne(k);
            }
        });
    });

    //支付模块
    function xunibi(pid,ctid,programname,xunibimoney,cname){
        let user=[[${session?.user}]];
        if(user!=null){
           window.parent.xunibishow(user['front_userid'],pid,ctid,programname,xunibimoney,cname);
        }else{
            parent.mgs("请登录");
        }
    }
    //收藏
    function addcol(pid){
        let user=[[${session?.user}]];
        if(user==null){
            parent.mgs("请登录");
            return;
        }else{
            $.ajax({
                type: "post",
                url: "collection/add",
                data:{front_userid:user['front_userid'],pid:pid},
                success:(data)=>{
                    if(data==1){
                        parent.mgs("收藏成功");
                    }
                }
            });
        }
    }
    //下载
    function xiazhan(pid,ctid,url,state){
        let user=[[${session?.user}]];
        if(user==null){
            parent.mgs("请登录");
            return;
        }
        //是否是会员
        //state=1付费
        if(state==1){
            //判断是否购买
            $.ajax({
                type: "post",
                url: "buy/check",
                data: {userid:user['front_userid'],pid:pid,ctid:ctid},
                success: (data) => {
                    if(!data){
                        parent.mgs("请购买当前章节");
                    }else{
                        //章节下载
                        window.location="http://localhost:8082/front/download?url="+url;
                    }
                }
            });
        }else{
            //免费
            window.location="http://localhost:8082/front/download?url="+url;
        }
    }


</script>
</html>