<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'css/styles.css?v=36'}">
    <iframe th:replace="css.html"></iframe>
    <iframe th:replace="listencss.html"></iframe>
</head>
<body>
<div class="wrapper clearfix">
    <div class="column-l container">
        <section class="d-info d-book-info clearfix">
            <div class="d-cover d-book-cover">
                <img th:src="${programinfo.get('poster')}" th:alt="${programinfo.pname}"/>
            </div>
            <div class="d-r">
                <h1 class="nowrap"><span th:text="${programinfo.pname}"></span></h1>
                <ul class="d-grid nowrap">
                    <li><span class="weaken">主播：</span>
                        <a class="g-user-shutdown" th:text="${programinfo.get('petname')}"></a>
                    </li>
                </ul>
                <ul class="d-grid">
                    <li><span class="weaken">类型：</span><span th:text="${programinfo.get('ptname')}"></span></li>
                </ul>
                <ul class="d-grid">
                    <li><span class="weaken">状态：</span><span th:switch="${programinfo.get('pstate')}">
                        <span th:case="0">连载</span>
                        <span th:case="1">完本</span>
                    </span></li>
                </ul>
                <div class="d-o d-book-o">
                    <a class="d-p " href='javascript:;' th:onclick="allplay([[${programinfo.pid}]])"></a>
                    <div class="fr">
                        <a class="d-download"><i class="icon-d-download"></i>下载</a>
                        <a class="d-collection" id="addCollection" entityId="5237" entityType="3"><i class="icon-d-collection"></i><span
                                id="collectionShow">收藏</span></a>
                        <a class="d-praise" id="addLike" entityId="5237" entityType="4" srcUserId="0"><i class="icon-d-praise"></i><span
                                id="likeShow">赞</span></a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="d-desc f14">
                <div class="d-tab">
                    <span>内容简介</span>
                </div>
                <p th:text="${programinfo.pintroduction}"></p>
            </div>
        </section>
        <section class="d-section">
            <div class="d-tab">
                <span>书籍章节</span>
            </div>
            <!--章节信息-->
          <ul id="pul" th:each="item:${chapterinfos}" style="padding: 0px 10px;">
                <li th:mytest="${item}">
                   <a  class="jp-play-me m-r-sm pull-left">
                        <i class="icon-control-play text"></i>
                        <i class="icon-control-pause text-active"></i>
                    </a>
                    <!--
                        <span th:text="${item.title}"></span>/作者:<span th:text="${item.artist}"></span>
                    -->
                    <a s th:text="${item.title}"></a>
                    <time>更新时间:<em th:text="${item.createdate}"></em></time>
                </li>
            </ul>
        </section>
    </div>
    <div class="column-r">
        <div class="container">
            <section class="sub-book">
                <div class="s-title"><span class="f16">他还演播了/</span><a >更多</a></div>
                <ul th:each="it:${pros}">
                    <li class="book-item">
                        <div class="fl book-item-photo pr">
                            <a href='javascript:;' th:onclick="allplay([[${it.pid}]])">
                                <img th:src="${it.poster}"  />
                                <span class="play-w"><i class="icon-play-s"></i></span>
                            </a>
                        </div>
                        <div class="book-item-r">
                            <a href='javascript:;' th:onclick="showxq([[${it.pid}]],[[${it.anchortid}]])" class="book-item-name" th:text="${it.pname}"></a>
                            <div class="nowrap weaken">类型：<em th:text="${it.ptname}"></em></div>
                            <div class="nowrap weaken">主播：<em th:text="${it.petname}"></em></div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>

</div>

</body>

<script type="text/javascript">
    //全部播放
    function allplay(id){
        window.parent.getdata(id);
    }
    //显示详情
    function showxq(id,aid){
        window.parent.eidtsrc(id,aid);
    }

    $(document).ready(function () {
        $("#before,#after").addClass("set_imd");
        $(document).on('click', '.jp-play-me', function (e) {
            e && e.preventDefault();
            var $this = $(e.target);
            if (!$this.is('a')) $this = $this.closest('a');//closest() 方法获得匹配选择器的第一个祖先元素，从当前元素开始沿 DOM 树向上。
            $('.jp-play-me').not($this).removeClass('active');
            $('.jp-play-me').parent('li').not($this.parent('li')).removeClass('active');
            $this.toggleClass('active');
            $this.parent('li').toggleClass('active');
            if (!$this.hasClass('active')) {
                //获取当前元素
                window.parent.pause();
            } else {
                //播放列表里面设置章节
                var k = $(this).parent("li")[0].getAttribute("mytest");
                //添加
                console.info(k.poster);
               //此方法返回一个函数改变src   $('a.cover1').html('<img src="' + latest[k].poster );
               // $(".musicbar").addClass("animate").index();
                //往播放列表中追加音频
                window.parent.setOne(k);
            }
        });
    });
</script>
</html>